.pattern {
    min-height: var(--size-15);
}

.pattern.graph {
    background-color: var(--color-1);
    background-image:
        linear-gradient(rgba(255, 255, 255, .5) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, .5) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, .28) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.pattern.zigzag {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(135deg, var(--color-1) 25%, transparent 25%), linear-gradient(225deg, var(--color-1) 25%, transparent 25%), linear-gradient(45deg, var(--color-1) 25%, transparent 25%), linear-gradient(315deg, var(--color-1) 25%, #ffffff 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
}

.pattern.zigzag-3d {
    background-color: #ffffff;
    opacity: 1;
    background: linear-gradient(135deg, var(--color-5) 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, var(--color-1) 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, var(--color-5) 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, var(--color-1) 25%, var(--color-6) 25%) 0px 0/ 80px 80px;
}

.pattern.isometric {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(30deg, var(--color-1) 12%, transparent 12.5%, transparent 87%, var(--color-1) 87.5%, var(--color-1)), linear-gradient(150deg, var(--color-1) 12%, transparent 12.5%, transparent 87%, var(--color-1) 87.5%, var(--color-1)), linear-gradient(30deg, var(--color-1) 12%, transparent 12.5%, transparent 87%, var(--color-1) 87.5%, var(--color-1)), linear-gradient(150deg, var(--color-1) 12%, transparent 12.5%, transparent 87%, var(--color-1) 87.5%, var(--color-1)), linear-gradient(60deg, var(--color-5) 25%, transparent 25.5%, transparent 75%, var(--color-5) 75%, var(--color-5)), linear-gradient(60deg, var(--color-5) 25%, transparent 25.5%, transparent 75%, var(--color-5) 75%, var(--color-5));
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.pattern.moon {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(ellipse farthest-corner at 40px 40px, var(--color-1), var(--color-1) 50%, #ffffff 50%);
    background-size: 40px 40px;
}

.pattern.wavy {
    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 40px), repeating-linear-gradient(var(--color-6), var(--color-1));
}

.pattern.wavy-2 {
    background-color: var(--color-1);
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--color-1) 40px), repeating-linear-gradient(var(--color-6), var(--color-6));
}

.pattern.triangle-1 {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(-45deg, #ffffff, #ffffff 50%, var(--color-1) 50%, var(--color-1));
    background-size: 40px 40px;
}

.pattern.triangle-2 {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(45deg, var(--color-1) 50%, #ffffff 50%);
    background-size: 40px 40px;
}

.pattern.diagonal-2 {
    background-color: #ffffff;
    opacity: 1;
    background: repeating-linear-gradient(-45deg, var(--color-1), var(--color-1) 20px, var(--color-6) 20px, var(--color-6) 100px);
}

.pattern.paper {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(var(--color-1) 3.2px, transparent 3.2px), linear-gradient(90deg, var(--color-1) 3.2px, transparent 3.2px), linear-gradient(var(--color-1) 1.6px, transparent 1.6px), linear-gradient(90deg, var(--color-1) 1.6px, var(--color-6) 1.6px);
    background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
    background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px, -1.6px -1.6px;
}

.pattern.cross {
    background-color: var(--color-1);
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, var(--color-1) 20%, var(--color-1) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--color-1) 20%, var(--color-1) 80%, transparent 80%, transparent) 10px 10px, linear-gradient(var(--color-6) 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, var(--color-6) 0.8px, var(--color-1) 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.pattern.rectangles {
    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, var(--color-1) 25%, transparent 25%, transparent 75%, var(--color-1) 75%, var(--color-1)), repeating-linear-gradient(45deg, var(--color-1) 25%, #ffffff 25%, #ffffff 75%, var(--color-1) 75%, var(--color-1));
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
}

.pattern.circles {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(circle at center center, var(--color-1), #ffffff), repeating-radial-gradient(circle at center center, var(--color-1), var(--color-1), 4px, transparent 8px, transparent 4px);
    background-blend-mode: multiply;
}

.pattern.boxes {
    background-color: var(--color-6);
    opacity: 1;
    background-image: linear-gradient(var(--color-1) 2.5px, transparent 2.5px), linear-gradient(to right, var(--color-1) 2.5px, var(--color-6) 2.5px);
    background-size: 16px 16px;
}

.pattern.pattern-1 {
    background:
        radial-gradient(var(--color-1) 3px, transparent 4px),
        radial-gradient(var(--color-1) 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, var(--color-5) 75px, var(--color-5) 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, var(--color-5) 76px, var(--color-5) 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.pattern.blueprint {
    background-color: var(--color-1);
    background-image:
        linear-gradient(rgba(255, 255, 255, .5) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, .5) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, .28) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.pattern.diamonds {
    padding: 0;
    margin: 0;
    background-color: var(--color-1);
    background-size: 53px 53px;
    background-image: radial-gradient(transparent 28px,
            #ffffff 28px,
            #ffffff 32px,
            transparent 32px);
}

.pattern.radial {
    padding: 0;
    margin: 0;
    background-color: var(--color-5);
    background-size: 56px 56px;
    background-image:
        linear-gradient(135deg,
            transparent 55%,
            var(--color-5) 55%),
        radial-gradient(transparent 6px,
            #ffffff 6px,
            #ffffff 10px,
            transparent 10px,
            transparent 15px,
            #ffffff 15px,
            #ffffff 19px,
            transparent 19px,
            transparent 24px,
            #ffffff 24px,
            #ffffff 28px,
            transparent 28px);
}