/* Responsive typography */

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem !important;
    }

    h2 {
        font-size: 1.8rem !important;

    }

    h3 {
        font-size: 1.3rem !important;
    }

    .h1 {
        font-size: 3.4rem !important;
    }

    .h2 {
        font-size: 2rem !important;
    }

    .h3 {
        font-size: 1.8rem !important;
    }

    .h4 {
        font-size: 1.6rem !important;
    }

    .h5 {
        font-size: 1.2rem !important;
    }

    .h6 {
        font-size: 1rem !important;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    h1 {
        font-size: 4.1rem !important;
    }

    h2 {
        font-size: 2.2rem !important;

    }

    h3 {
        font-size: 1.4rem !important;
    }

    .h2 {
        font-size: 3.2rem !important;
    }

    .h3 {
        font-size: 2rem !important;
    }

    .h4 {
        font-size: 1.8rem !important;
    }

    .h5 {
        font-size: 1.4rem !important;
    }

    .h6 {
        font-size: 1.2rem !important;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    h1 {
        font-size: 4rem !important;
    }

    h2 {
        font-size: 2.4rem !important;

    }

    h3 {
        font-size: 1.6rem !important;
    }

    .h1 {
        font-size: 5rem !important;
    }

    .h2 {
        font-size: 3.2rem !important;
    }

    .h3 {
        font-size: 2.4rem !important;
    }

    .h4 {
        font-size: 1.8rem !important;
    }

    .h5 {
        font-size: 1.4rem !important;
    }

    .h6 {
        font-size: 1.2rem !important;
    }

}

@media (min-width: 1200px) {

    h1 {
        font-size: 4rem !important;
    }

    h2 {
        font-size: 2.4rem !important;

    }

    h3 {
        font-size: 1.6rem !important;
    }

    .h1 {
        font-size: 5rem !important;
    }

    .h2 {
        font-size: 3.4rem !important;
    }

    .h3 {
        font-size: 2.8rem !important;
    }

    .h4 {
        font-size: 1.8rem !important;
    }

    .h5 {
        font-size: 1.4rem !important;
    }

    .h6 {
        font-size: 1.2rem !important;
    }

}