/* Fonts */

@font-face {
    font-family: "Fira Sans Italic";
    src: url("/assets/fonts/fira-sans/FiraSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans Regular";
    src: url("/assets/fonts/fira-sans/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans Bold Italic";
    src: url("/assets/fonts/fira-sans/FiraSans-bold-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans Bold";
    src: url("/assets/fonts/fira-sans/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mona Sans Regular";
    src: url("/assets/fonts/mona-sans/MonaSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Mona Sans Bold";
    src: url("/assets/fonts/mona-sans/MonaSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Mono Regular";
    src: url("/assets/fonts/roboto-mono/RobotoMono-Regular.ttf") format("truetype");
}

/* Light mode */

:root,
[data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #212121;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212121;
    --bs-primary: rgb(33, 33, 33);
    --bs-secondary: #212121;
    --bs-success: #198754;
    --bs-info: var(--bs-body-color);
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 33, 33, 33;
    --bs-secondary-rgb: 333, 333, 333;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 255, 255, 255;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #212121;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: var(--bs-body-color);
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: var(--bs-secondary-bg);
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: "Fira Sans Regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: "Roboto Mono Regular", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: none;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1.1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212121;
    --bs-body-color-rgb: 33, 33, 33;
    --bs-body-bg: #ffffff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #212121;
    --bs-emphasis-color-rgb: 333, 333, 333;
    --bs-secondary-color: rgba(33, 33, 33, 1);
    --bs-secondary-color-rgb: 33, 33, 33;
    --bs-secondary-bg: #212121;
    --bs-secondary-bg-rgb: 333, 333, 333;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #e6e6e6;
    --bs-tertiary-bg-rgb: 230, 230, 230;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0d6efd;
    --bs-link-hover-color-rgb: 13, 110, 253;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #212121;
    --bs-border-color-translucent: rgba(333, 333, 333, 0.15);
    --bs-border-radius: 0rem;
    --bs-border-radius-sm: 0rem;
    --bs-border-radius-lg: 0rem;
    --bs-border-radius-xl: 0rem;
    --bs-border-radius-xxl: 0rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 0rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
    --bs-alert-bg: var(--bs-body-bg);
    --bs-alert-padding-x: #{$alert-padding-x};
    --bs-alert-padding-y: #{$alert-padding-y};
    --bs-alert-margin-bottom: #{$alert-margin-bottom};
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: #{$alert-border-width} solid var(--bs-alert-border-color);
    --bs-alert-border-radius: #{$alert-border-radius};
    --bs-alert-link-color: inherit;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.15);
}

/* Dark mode */

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-body-bg: #54278f;
    --bs-body-bg-rgb: 84, 39, 143;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(255, 255, 255, 1);
    --bs-secondary-color-rgb: 255, 255, 255;
    --bs-secondary-bg: #9355dc;
    --bs-secondary-bg-rgb: 147, 85, 220;
    --bs-tertiary-color: rgba(255, 255, 255, 0.5);
    --bs-tertiary-color-rgb: 255, 255, 255;
    --bs-tertiary-bg: #39215e;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #ffffff;
    --bs-link-hover-color: #ffffff;
    --bs-link-color-rgb: 255, 255, 255;
    --bs-link-hover-color-rgb: 255, 255, 255;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #9355dc;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
    --bs-gradient: linear-gradient(135deg, #54278f 35%, #9355dc 73%);
}

.btn-primary {
    --bs-btn-font-weight: 300;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-secondary-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-secondary-bg);
    --bs-btn-hover-border-color: var(--bs-secondary-bg);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-secondary-bg);
    --bs-btn-active-border-color: var(--bs-secondary-bg);
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-family: var(--bs-font-monospace);
}

/* Fonts */

:root {
    --font-1: "Mona Sans Bold", sans-serif;
}

/* Links */

a.link-primary, a.link-primary:visited, a.link-primary:hover, a.link-primary:focus, .link-primary:active {
    color: var(--bs-body-color) !important;
}

.link-body-emphasis, .link-body-emphasis:visited, .link-body-emphasis:hover, .link-body-emphasis:active {
    color: var(--bs-secondary-color) !important;
}

/* Navbar */

#logo {
    fill: var(--bs-body-color);
    max-height: 50px;
}

/* Headings */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: var(--font-1) !important;
}

.alert-info {
    background-color: var(--bs-info-bg) !important;
    color: var(--bs-body-color);
    border-color: var(--bs-secondary-bg);
}

/* Anchor links */

h2 a#heading-hashtag {
    display: none;
}

h2:hover a#heading-hashtag {
    display: revert;
}

/* Hover */

a.btn:hover, .social a:hover, .card:hover, .list-inline-item a:hover {
    transform: translatey(-2px);
}

/* Tombstone */

.tombstone {
    display: inline-block;
    width: 15px;
    /* Adjust the width as needed */
    height: 15px;
    /* Adjust the height as needed */
    background-color: var(--bs-secondary-bg);
    /* Adjust the color as needed */
    margin-left: 10px;
    /* Adjust the margin as needed */
}

/* Monospace */

.text-body-secondary, .lead, a.nav-link, a.nav-link:active, a.nav-link:visited, a.nav-link:hover, .breadcrumb-item a, .breadcrumb-item a:visited, .list-inline-item a, .list-inline-item a:visited, .badge, .btn, .post-dm h2 {
    font-family: var(--bs-font-monospace) !important;
}

/* Selection */

::selection, ::-moz-selection {
    background: var(--bs-body-color);
    color: var(--bs-body-bg);
}

/* Progress */

#read-time-container {
    position: sticky;
    top: 0;
    width: 100%;
    background: none;
    z-index: 2;
}

#read-time-bar {
    /* Change height or background-color if you want */
    height: 0.5rem;
    background-color: var(--bs-secondary-bg);
    width: 0;
    transition: width 0.1s;
}

/* Back to top */

#back-to-top {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-radius: 0;
    border: 1px solid var(--bs-secondary-bg);
    border-bottom: none;
    cursor: pointer;
    padding: .25rem .75rem .15rem .75rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 1rem;
}

#back-to-top:hover {
    color: var(--bs-white);
    background-color: var(--bs-secondary-bg);
}

/* Sizes */

:root {
    --size-1: 0;
    --size-2: 0.0625rem;
    --size-3: .25rem;
    --size-4: .5rem;
    --size-5: .625rem;
    --size-6: 1rem;
    --size-7: 1.2rem;
    --size-8: 1.5625rem;
    --size-9: 2rem;
    --size-10: 3rem;
    --size-11: 4.675rem;
    --size-12: 10rem;
    --size-13: 12.5rem;
    --size-14: 15rem;
    --size-15: 18.75rem;
    --size-16: 20rem;
}

/* Images */

main img, article img, aside img {
    border: var(--bs-border-color) var(--bs-border-width) var(--bs-border-style);
    margin-bottom: var(--size-7);
}

img {
    height: auto;
    max-width: 100%;
}

img.xxxs {
    width: 2rem;
}

img.xxs {
    width: 3rem;
}

img.xs {
    width: 10rem;
}

img.sm {
    width: 12.5rem;
}

img.md {
    width: 15rem;
}

img.lg {
    width: 18.75rem;
}

img.xl {
    width: 20rem;
}

a[href$=".doc"], a[href$=".docx"], a[href$=".ppt"], a[href$=".pptx"], a[href$=".xls"], a[href$=".xlsx"], a[href$=".pdf"], a[href$=".mp3"], a[href$=".mp4"], a[href$=".avi"], a[href$=".mpg"], a[href$=".mpeg"], a[href$=".mov"], a[href$=".wmv"], a[href$=".mkv"], a[href$=".jpg"], a[href$=".jpeg"], a[href$=".png"], a[href$=".gif"] {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: var(--size-8);
}

/* Doc */
a[href$=".doc"], a[href$=".docx"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-word.svg);
}

/* Powerpoint */
a[href$=".ppt"], a[href$=".pptx"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-powerpoint.svg);
}

/* Excel */
a[href$=".xls"], a[href$=".xlsx"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-excel.svg);
}

/* PDF */
a[href$=".pdf"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-pdf.svg);
}

/* MP3 */
a[href$=".mp3"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-audio.svg);
}

/* MP4 */
a[href$=".mp4"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-video.svg);
}

/* Image */
a[href$=".png"], a[href$=".jpg"] {
    background-image: url(/assets/font-awesome/svgs/solid/file-image.svg);
}

/* Cards */

.card {
    width: 100%;
}

article h2, article h3, article h4 {
    padding-bottom: var(--size-6);
    padding-top: var(--size-6);
}

blockquote {
    border-left: var(--size-4) solid var(--color-1);
    margin-left: var(--size-1);
    padding: var(--size-1) var(--size-8);
    margin-bottom: var(--size-8);
    margin-top: var(--size-9);
}

blockquote p, blockquote ul {
    font-family: var(--bs-font-monospace) !important;
    padding-bottom: var(--size-0);
    padding-top: var(--size-3);
}

/* Lists */

ul.list-inline {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.breadcrumb-item a, .breadcrumb-item a:visited {
    display: inline-block
}

/* Listen */

.listen {
    margin-bottom: var(--size-7);
    padding-bottom: var(--size-7);
}

.listen a, .listen a:visited {
    margin-right: var(--size-6);
    padding-right: var(--size-1);
    text-decoration: none;
}

input[type="range"] {
    accent-color: var(--color-1);
}

/* DM */

.post-dm {
    margin-bottom: var(--size-9);
}

.post-dm h2 {
    border-bottom: 1px solid var(--bs-border-color);
    font-size: var(--size-6) !important;
    margin-bottom: var(--size-7) !important;
    padding-bottom: var(--size-5);
}

.post-dm h3 {
    background-color: var(--bs-secondary-bg);
    border-radius: var(--size-4);
    color: var(--bs-white);
    font-family: var(--bs-font-sans-serif) !important;
    font-size: var(--size-7) !important;
    margin: var(--size-6) var(--size-1);
    margin-left: var(--size-9);
    padding: var(--size-9);
}

.post-dm h3 a, .post-dm h3 a:visited, .post-dm h3 a:hover {
    color: var(--bs-white);
    text-decoration: underline !important;
}

.post-dm p, .post-dm ul, .post-dm ol {
    background-color: var(--bs-tertiary-bg);
    border-radius: var(--size-4);
    color: var(--color-9);
    margin: var(--size-6) var(--size-1);
    margin-right: var(--size-9);
    padding: var(--size-9);
}

.post-dm a, .post-dm a:visited, .post-dm a:hover {
    color: var(--color-1);
}

.post-dm ul li, .post-dm ol li {
    margin-left: var(--size-9);
}

.post-dm ol li {
    padding-bottom: var(--size-8);
}

.new-dm {
    font-family: var(--font-3);
}

/* Code block */

pre code {
    border-radius: var(--size-0);
    color: var(--bs-white);
    display: block;
    background: var(--bs-gray-900);
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: var(--size-8);
}

/* Blockquote */

blockquote {
    border-left: var(--size-4) solid var(--bs-secondary-color);
    margin-left: var(--size-8);
    padding: var(--size-1) var(--size-8);
    margin-bottom: var(--size-8);
    margin-top: var(--size-9);
}

blockquote p, blockquote ul {
    font-family: var(--bs-font-monospace) !important;
    padding-bottom: var(--size-0);
    padding-top: var(--size-3);
}