{% if page.audio %}
  <div class="border drop-shadow2 mb-3 pt-2 px-3">
    <h2 class="mb-0 pb-3">Listen</h2>
    {% if page.layout == "research" %}
      <p class="pb-0 small text-body-secondary mb-0 pb-3">A podcast-like overview created with Google NotebookLM.</p>
    {% endif %}
    <audio id="player" controls preload="metadata">
      {% if page.layout == "research" %}
        <source src="/assets/audio/{{ page.audio }}" type="audio/mpeg">
      {% elsif page.layout == "podcast" %}
        <source src="https://media.githubusercontent.com/media/govfresh/podcast-archive/refs/heads/main/assets/audio/{{ page.audio }}" type="audio/mpeg">
      {% else %}
        <source src="{{ page.audio }}" type="audio/mpeg">
      {% endif %}
    </audio>
    {% if page.layout == "podcast" %}
      <div class="wa-cluster wa-gap-l pb-3 mt-2">
        {% for item in site.data.subscribe-podcast.docs %}
          <a href="{{ item.url }}" aria-label="{{ item.title }}" class="listen-link">
            <i class="{{ item.icon }} {{ site.data.connect.sm }}"></i>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <script src="{{ site.baseurl }}/js/plyr.js" defer></script>
    <script src="{{ site.baseurl }}/js/audio-init.js" defer></script>
  </div>
{% endif %}
