{% if page.layout == "thoughts" %}
  {% if page.author %}
    {% for author in page.author %}
      {% assign author_data = site.people | where: "title", author | first %}
      {% if author_data.content.size > 1 %}
        <p class="small text-body-secondary mb-0">
          <small>
            <i class="fa-solid fa-circle-user"></i>
            By:
            <a href="{{ site.baseurl }}{{ author_data.url }}" class="link-body-emphasis link-offset-3">
              {{ author_data.title }}
            </a>
          </small>
        </p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  {% if page.author %}
    {% for author in page.author %}
      {% assign author_data = site.people | where: "title", author | first %}
      {% if author_data.content.size > 1 %}
        <p class="small text-body-secondary mb-0">
          <small>
            <i class="fa-solid fa-circle-user"></i>
            By:
            <a href="{{ site.baseurl }}{{ author_data.url }}" class="link-body-emphasis link-offset-3">
              {{ author_data.title }}
            </a>
          </small>
        </p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}