{% if include.item.author %}
  {% assign itemAuthor = include.item.author %}
{% elsif page.author %}
  {% assign itemAuthor = page.author %}
{% elsif post.author %}
  {% assign itemAuthor = post.author %}
{% endif %}
{% if itemAuthor %}
  {% for author in itemAuthor %}
    {% assign author_data = site.people | where: "title", author | first %}
    {% if author_data.content.size > 1 %}
      {% assign author_href = site.baseurl | append: author_data.url %}
      {% include icon-line.html icon="fa-solid fa-circle-user" value=author_data.title href=author_href link_class="author-link" %}
    {% endif %}
  {% endfor %}
{% endif %}
