{% if page.author %}
{% for author in page.author %}
{% assign
author_data = site.people | where: "title", author | first %}
{% if
author_data.content.size > 1 %}
<div class="fancy-2">
    <p class="small">
        <span class="author">By
            <a href="{{ site.baseurl }}{{ author_data.url }}">
                {{ author_data.title }}</a>
        </span>
        {% if page.date %}
        <span class="author">&middot;
        </span>
        {% include date.html %}
        {% endif %}
    </p>
</div>
{% endif %}
{% endfor %}
{% endif %}