{% if page.author %}
{% for author in page.author %}
{% assign people = site.people | where: "title", author%}
{% for author_data in people %}
{% if page.author %}
{% for author in page.author %}
{% assign author_data = site.people | where:"title", author | first %}
{% if author_data.content.size > 1 %}
<div class="alert alert-info border-top pt-4 mt-5 mb-5">
    <div class="row">
        <div class="col-3 text-center">
            {% if author_data.img %}
            <a href="{{ site.baseurl }}{{ author_data.url }}"><img
                    src="{{ site.baseurl }}/assets/img/people/{{ author_data.img }}"
                    alt="Photo of {{ author_data.title }}" class="xs rounded-circle"></a>
            {% endif %}
        </div>
        <div class="col-9">
            <h2 class="h4">{{ author_data.title }}</h2>
            <p class="small text-body-secondary">{{ author_data.bio-short }} <a
                    href="{{ site.baseurl }}{{ author_data.url }}">More from {{
                    author_data.shortname }}.</a></p>
            {% include social.html size="small" %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}