{% if page.author %}
  {% for author in page.author %}
    {% assign people = site.people | where: "title", author %}
    {% for author_data in people %}
      {% if page.author %}
        {% for author in page.author %}
          {% assign author_data = site.people | where: "title", author | first %}
          {% if author_data.content.size > 1 %}
            <div class="alert alert-info pt-4 mt-5 mb-3">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  {% if author_data.img %}
                    <a href="{{ site.baseurl }}{{ author_data.url }}"><img
                        src="{{ site.baseurl }}/assets/img/people/{{ author_data.img }}"
                        alt="Photo of {{ author_data.title }}"
                        class="xs rounded-circle"></a>
                  {% endif %}
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                  {% if author_data.title %}
                    <h2 class="h4">{{ author_data.title }}</h2>
                  {% endif %}
                  {% if author_data.bio-short %}
                    <p class="small text-body-secondary">{{ author_data.bio-short }}
                    {% endif %}
                    {% if author_data.shortname %}<a href="{{ site.baseurl }}{{ author_data.url }}">More from {{
  author_data.shortname }}.</a>
                  </p>
                    <h3 class="h5 mt-4 mb-3">Connect with {{ author_data.shortname }}</h3>
                  {% endif %}
                  {% include social.html size="small" %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}