{% if page.author %}
  {% for author in page.author %}
    {% assign people = site.people | where: "title", author %}
    {% for author_data in people %}
      {% if page.author %}
        {% for author in page.author %}
          {% assign author_data = site.people | where: "title", author | first %}
          {% if author_data.content.size > 1 %}
            <div class="alert alert-info pt-4 pb-4 mt-5 mb-3 shadow2">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  {% if author_data.img %}
                    <a href="{{ site.baseurl }}{{ author_data.url }}"><img
                        src="{{ site.baseurl }}/assets/img/people/{{ author_data.img }}"
                        alt="Photo of {{ author_data.title }}"
                        class="xs rounded-circle border drop-shadow"></a>
                  {% endif %}
                </div>
                <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  {% if author_data.title %}
                    <h2 class="h4 mb-0">{{ author_data.title }}</h2>
                  {% endif %}
                  {% if author_data.bio-short %}
                    <p class="small text-body-secondary mb-4">{{ author_data.bio-short }}
                    {% endif %}
                    {% if author_data.shortname %}<a href="{{ site.baseurl }}{{ author_data.url }}">More about {{
  author_data.shortname }}.</a>
                  </p>
                  {% endif %}
                  {% include social.html size="small" %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}