{% if include.level == "secondary" %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card mb-4">
      <div class="card-img-top">
        <img
          src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
          class="xxl"
          alt="{{ item.img-alt }}">test
      </div>
      <div class="card-body">
        <h3 class="h3">
          <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
        </h3>
      </div>
      {% if item.feedback %}
        <div class="card-footer">
          <span class="badge text-bg-success">In progress</span>
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card mb-4">
      <div class="card-img-top">
        <img
          src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
          class="xxl"
          alt="{{ item.img-alt }}">
      </div>
      <div class="card-body">
        <h3 class="h3">
          <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
        </h3>
      </div>
      {% if item.feedback %}
        <div class="card-footer">
          <span class="badge text-bg-success">In progress</span>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}