<div class="cards-include">
  {% if include.page %}
    {% assign pull = include.page %}
  {% else %}
    {% assign pull = page.parent %}
  {% endif %}
  {% if include.page-title and include.page-title == "Government. Fresh." %}
    {% assign title = include.page-title %}
  {% else %}
    {% assign title = page.title %}
  {% endif %}
  {% if pull == "books" %}
    <!-- Books -->
    <!-- Books secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.books-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for x in site.books %}
        {% assign item = x %}
          {% if amount < limit and title != item.title and page.short == "true" or title == "Government. Fresh." and amount < limit and title != item.title %}
          {% include card-books.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Books primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-books.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "demos" %}
    <!-- Demos -->
    <!-- Demos secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.demos-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.demos reversed %}
        {% if amount < limit and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-demos.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Demos primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-demos.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "thoughts" %}
    <!-- Thoughts -->
    <!-- Thoughts secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.thoughts-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.thoughts reversed %}
        {% if amount < limit and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-thoughts.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Thoughts primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-thoughts.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "events" %}
    <!-- events -->
    <!-- events secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.events-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.events reversed %}
        {% if amount < limit and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-events.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- events primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-events.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "orgs" %}
    <!-- Orgs -->
    <!-- Orgs secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.orgs-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.orgs reversed %}
        {% if amount < limit and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-orgs.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Orgs primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-orgs.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "briefs" %}
    <!-- briefs -->
    <!-- briefs secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.briefs-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.briefs reversed %}
        {% if limit > amount and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-briefs.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- briesf primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-briefs.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "papers" %}
    <!-- Papers -->
    <!-- Papers secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.papers-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.papers reversed %}
        {% if limit > amount and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-papers.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Papers primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-papers.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "research" %}
    <!-- Research -->
    <!-- Research secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.research-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.research reversed %}
        {% if limit > amount and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-research.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Research primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-research.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  <!-- People -->
  {% elsif pull == "people" %}
    <div class="card-group mb-3">
      {% for item in site.people %}
        {% include card-people.html %}
      {% endfor %}
    </div>
  {% elsif pull == "labs" %}
    <!-- Labs -->
    <!-- Labs secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.labs-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.labs %}
        {% if limit > amount and title != item.title and page.short == "true" or title == "Government. Fresh." and limit > amount and title != item.title %}
          {% include card-labs.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Labs primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% assign amount = amount | plus: 1 %}
          {% include card-labs.html %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "dm" %}
    <!-- DM -->
    <div class="card-group mb-3">
      {% unless title == "Government. Fresh." or page.short == "true" %}
        {% assign limit = site.dm | size | plus: 2 %}
      {% else %}
        {% assign limit = site.dm-number | plus: 0 %}
      {% endunless %}
      {% assign amount = 1 %}
      {% for item in site.dm reversed %}
        {% if item.title != page.title and limit > amount %}
          {% include card-dm.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% elsif pull == "podcast" %}
    <!-- Podcast -->
    <!-- Podcast secondary -->
    <div class="card-group mb-3">
      {% assign limit = site.podcast-number | plus: 0 %}
      {% assign amount = 1 %}
      {% for item in site.podcast reversed %}
        {% if limit > amount and title != item.title and page.short == "true" or title == "Government. Fresh." %}
          {% include card-podcast.html level = "secondary" %}
          {% assign amount = amount | plus: 1 %}
        <!-- Podcast primary -->
        {% elsif page.short != "true" and title != "Government. Fresh." %}
          {% include card-podcast.html %}
          {% assign amount = amount | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>