{% if include.level == "secondary" %}
  <wa-card{% if item.img-og %} with-media{% endif %}>
    {% if item.img-og %}
      <img
        slot="media"
        alt="{{ item.img-alt }}"
        class="xxl"
        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-og }}"
        loading="lazy">
    {% endif %}
    {% if item.title %}
      <h3 class="h4">
        <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
      </h3>
      {% if item.description %}
        <p class="small text-body-secondary">
          <small>{{ item.description }}</small>
        </p>
      {% endif %}
    {% endif %}
    {% if item.author %}
      <p class="small text-body-secondary mb-0"><small>By {{ item.author }}</small></p>
    {% endif %}
  </wa-card>
{% else %}
  <wa-card{% if item.img-og %} with-media{% endif %}>
    {% if item.img-og %}
      <img
        slot="media"
        alt="{{ item.img-alt }}"
        class="xxl"
        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-og }}"
        loading="lazy">
    {% endif %}
    {% if item.title %}
      <h2 class="h4">
        <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
      </h2>
      {% if item.description %}
        <p class="small text-body-secondary">
          <small>{{ item.description }}</small>
        </p>
      {% endif %}
    {% endif %}
    {% if item.author %}
      <p class="small text-body-secondary mb-0"><small>By {{ item.author }}</small></p>
    {% endif %}
  </wa-card>
{% endif %}
