{% if include.level == "secondary" %}
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
    <div class="card mb-2 mx-1">
      <div class="row g-0">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          {% if item.img-feat %}
            <div class="float-start"><img
                src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
                class="rounded-start md img-fluid"
                alt="{{ item.img-alt }}">
            </div>
          {% endif %}
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
          <div class="card-body">
            {% if item.title %}
              <h3 class="h4 mt-2">
                <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">{{ item.title }}</a>
              </h3>
            {% endif %}
            {% if item.description %}
              <p class="card-text text-body-secondary small">{{ item.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
    <div class="card mb-2 mx-1">
      <div class="row g-0">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          {% if item.img-feat %}
            <div class="float-start"><img
                src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
                class="img-fluid rounded-start md img-fluid"
                alt="{{ item.img-alt }}">
            </div>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
          <div class="card-body">
            {% if item.title %}
              <h2 class="h4 mt-2">
                <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">{{ item.title }}</a>
              </h2>
            {% endif %}
            {% if item.description %}
              <p class="card-text text-body-secondary small">{{ item.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}