{% if include.level == "secondary" %}
  <wa-card>
    {% if item.img-feat %}
      <img
        src="{{ site.baseurl }}/assets/img/people/{{ item.img-feat }}"
        alt="{{ item.title }}"
        class="md wa-border-radius-circle mb-3 drop-shadow border">
    {% endif %}
    <h3 class="h4">
      <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
    </h3>
    <p class="small text-body-secondary mb-0">
      <small>{{ item.description }}</small>
    </p>
    {% if item.number %}
      <p class="small text-body-secondary mb-0 mt-1"><small>Episode #{{ item.number }}</small></p>
    {% endif %}
  </wa-card>
{% else %}
  <wa-card>
    {% if item.img-feat %}
      <img
        src="{{ site.baseurl }}/assets/img/people/{{ item.img-feat }}"
        alt="{{ item.title }}"
        class="sm wa-border-radius-circle mb-4 drop-shadow border">
    {% elsif item.img %}
      <img
        src="{{ item.img }}"
        alt="{{ item.title }}"
        class="sm wa-border-radius-circle mb-4 drop-shadow border">
    {% endif %}
    <h2 class="h4">
      <a href="{{ item.url }}" class="card-link">{{ item.title }}</a>
    </h2>
    <p class="small text-body-secondary mb-0">
      <small>{{ item.description }}</small>
    </p>
    {% if item.number %}
      <p class="small text-body-secondary mb-0 mt-1"><small>#{{ item.number }}</small></p>
    {% endif %}
  </wa-card>
{% endif %}
