{% if include.level == "secondary" %}
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card mb-3">
      <div class="card-body">
        {% if item.feat-img %}
          <img
            src="{{ site.baseurl }}/assets/img/people/{{ item.feat-img }}"
            alt="{{ item.title }}"
            class="md rounded-circle mb-3">
        {% endif %}
        <h3 class="h4">
          <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
            {{ item.title }}
          </a>
        </h3>
      </div>
      {% if item.number %}
        <div class="card-footer text-body-secondary small">
          Episode #{{ item.number }}</div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card mb-3">
      <div class="card-body">
        {% if item.feat-img %}
          <img
            src="{{ site.baseurl }}/assets/img/people/{{ item.feat-img }}"
            alt="{{ item.title }}"
            class="md rounded-circle mb-3">
        {% endif %}
        <h3 class="h4">
          <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
            {{ item.title }}
          </a>
        </h3>
      </div>
      {% if item.number %}
        <div class="card-footer text-body-secondary small">
          Episode #{{ item.number }}</div>
      {% endif %}
    </div>
  </div>
{% endif %}