{% if include.level == "secondary" %}
  <wa-card{% if item.img-og %} with-media{% endif %}>
    {% if item.img-og %}
      <img
        slot="media"
        alt="{{ item.img-alt }}"
        class="xxl"
        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-og }}"
        loading="lazy">
    {% endif %}
    {% if page.title %}
      <h3 class="h5">
        <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
      </h3>
    {% endif %}
    <p class="small text-body-secondary mb-0">
      {{ item.date | date: site.date }}
    </p>
  </wa-card>
{% else %}
  <wa-card class="mx-2 mb-3"{% if item.img-og %} with-media{% endif %}>
    {% if item.img-og %}
      <img
        slot="media"
        alt="{{ item.img-alt }}"
        class="xxl"
        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-og }}"
        loading="lazy">
    {% endif %}
    {% if page.title %}
      <h2 class="h5">
        <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
      </h2>
      {% if page.description %}
        <p class="small text-body-secondary">
          <small>{{ item.description }}</small>
        </p>
      {% endif %}
    {% endif %}
    {% if item.date %}
      <p class="small text-body-secondary mb-0">{{ item.date | date: site.date }}</p>
    {% endif %}
  </wa-card>
{% endif %}
