{% if include.level == "secondary" %}
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-stretch">
    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
          {% if item.img-feat %}
            <div class="float-start"><img
                src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
                class="img-fluid rounded-start md img-fluid"
                alt="{{ item.img-alt }}">
            </div>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
          <div class="card-body">
            {% if item.title %}
              <h3 class="h4 mt-2">
                <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">{{ item.title }}</a>
              </h3>
            {% endif %}
            {% if item.description %}
              <p class="card-text text-body-secondary small">{{ item.description }}</p>
            {% endif %}
            {% if item.feedback %}
              <div class="card-footer">
                <span class="badge text-bg-success">In progress</span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-stretch">
    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
          {% if item.img-feat %}
            <div class="float-start"><img
                src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
                class="img-fluid rounded-start md img-fluid"
                alt="{{ item.img-alt }}">
            </div>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
          <div class="card-body">
            {% if item.title %}
              <h3 class="h4 mt-2">
                <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">{{ item.title }}</a>
              </h3>
            {% endif %}
            {% if item.description %}
              <p class="card-text text-body-secondary small">{{ item.description }}</p>
            {% endif %}
            {% if item.feedback %}
              <div class="card-footer">
                <span class="badge text-bg-success">In progress</span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}