{% if include.level == "secondary" %}
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-stretch">
    <wa-card orientation="horizontal"{% if item.img-feat %} with-media{% endif %}>
      {% if item.img-feat %}
        <img
          slot="media"
          src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
          class="md img-fluid"
          alt="{{ item.img-alt }}">
      {% endif %}
      {% if item.title %}
        <h3 class="h4 mt-2">
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        </h3>
      {% endif %}
      {% if item.description %}
        <p class="small text-body-secondary">{{ item.description }}</p>
      {% endif %}
      {% if item.feedback %}
        <wa-badge variant="success">In progress</wa-badge>
      {% endif %}
    </wa-card>
  </div>
{% else %}
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-stretch">
    <wa-card orientation="horizontal"{% if item.img-feat %} with-media{% endif %}>
      {% if item.img-feat %}
        <img
          slot="media"
          src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}"
          class="md img-fluid"
          alt="{{ item.img-alt }}">
      {% endif %}
      {% if item.title %}
        <h2 class="h4 mt-2">
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        </h2>
      {% endif %}
      {% if item.description %}
        <p class="small text-body-secondary">{{ item.description }}</p>
      {% endif %}
      {% if item.feedback %}
        <wa-badge variant="success">In progress</wa-badge>
      {% endif %}
    </wa-card>
  </div>
{% endif %}
