{% if include.level == "secondary" %}
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card">
      {% if item.img-og %}
        <div class="card-img-top">
          <img
            alt="{{ item.img-alt }}"
            class="xxl border-bottom"
            src="{{ site.baseurl }}/assets/img/logos/{{ item.img-og }}">
        </div>
      {% endif %}
      {% if item.title %}
        <div class="card-body">
          <h2 class="h3">
            <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">{{ item.title }}</a>
          </h2>
          <p class="card-text text-body-secondary small">
            <small>
              {{ item.description }}
            </small>
          </p>
        </div>
      {% endif %}
      <div class="card-footer">
        {% if item.event-date %}
          <p class="small text-body-secondary mb-0">
            <small>
              <i class="fa-regular fa-calendar"></i>
              Date:
              {{ item.event-date }}
            </small>
          </p>
        {% endif %}
        {% if item.event-location %}
          <p class="small text-body-secondary mb-0">
            <small>
              <i class="fa-solid fa-location-pin"></i>
              Location:
              {{ item.event-location }}
            </small>
          </p>
        {% endif %}
        {% if item.org %}
          <p class="text-body-secondary small mb-0">
            <small>
              <i class="fa-regular fa-building"></i>
              Host:
              {{ item.org }}</small>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  <!-- Landing page -->
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card">
      {% if item.img-og %}
        <div class="card-img-top">
          <img
            alt="{{ item.img-alt }}"
            class="xxl border-bottom"
            src="{{ site.baseurl }}/assets/img/logos/{{ item.img-og }}">
        </div>
      {% endif %}
      {% if item.title %}
        <div class="card-body">
          <h2 class="h3">
            <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">{{ item.title }}</a>
          </h2>
          <p class="card-text text-body-secondary small">
            <small>
              {{ item.description }}
            </small>
          </p>
        </div>
      {% endif %}
      <div class="card-footer">
        {% if item.event-date %}
          <p class="small text-body-secondary mb-0">
            <small>
              <i class="fa-regular fa-calendar"></i>
              Date:
              {{ item.event-date }}
            </small>
          </p>
        {% endif %}
        {% if item.event-location %}
          <p class="small text-body-secondary mb-0">
            <small>
              <i class="fa-solid fa-location-pin"></i>
              Location:
              {{ item.event-location }}
            </small>
          </p>
        {% endif %}
        {% if item.org %}
          <p class="text-body-secondary small mb-0">
            <small>
              <i class="fa-regular fa-building"></i>
              Host:
              {{ item.org }}</small>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}