{% if include.level == "secondary" %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                {% if item.img %}
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">
                        <img class="card-img-top md line" src="{{ site.baseurl }}/assets/img/{{ item.img-path }}/{{ item.img-feat }}" alt="{{ item.img-alt }}">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                {% if item.img %}
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">
                        <img class="card-img-top md line" src="{{ site.baseurl }}/assets/img/{{ item.img-path }}/{{ item.img-feat }}" alt="{{ item.img-alt }}">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}