{% if include.level == "secondary" %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                {% if item.img-feat %}
                    <img class="card-img-top shadow sm" src="{{ site.baseurl }}/assets/img/{{ item.img-path }}/{{ item.img-feat }}" alt="{{ item.img-alt }}">
                {% endif %}
                <h3 class="h6">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                </h3>
                <p>{{ item.author }}</p>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                {% if item.img-feat %}
                    <img class="card-img-top shadow sm" src="{{ site.baseurl }}/assets/img/{{ item.img-path }}/{{ item.img-feat }}" alt="{{ item.img-alt }}">
                {% endif %}
                <h3 class="h6">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                </h3>
                <p>{{ item.author }}</p>
            </div>
        </div>
    </div>
{% endif %}