{% if include.level == "secondary" %}
  <wa-card {% if item.img-og %} with-media{% endif %}>
    {% if item.img-og %}
      <img
        slot="media"
        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-og }}"
        class="xxl"
        alt="{{ item.img-alt }}"
        loading="lazy">
    {% endif %}
    {% if item.title %}
      <h3 class="h4 mt-2">
        <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
      </h3>
    {% endif %}
    {% if item.description %}
      <p class="small text-body-secondary">{{ item.description }}</p>
    {% endif %}
  </wa-card>
{% else %}
  <wa-card {% if item.img-og %} with-media{% endif %}>
    {% if item.img-og %}
      <img
        slot="media"
        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-og }}"
        class="xxl"
        alt="{{ item.img-alt }}"
        loading="lazy">
    {% endif %}
    {% if item.title %}
      <h2 class="h4 mt-2">
        <a href="{{ site.baseurl }}{{ item.url }}" class="card-link">{{ item.title }}</a>
      </h2>
    {% endif %}
    {% if item.description %}
      <p class="small text-body-secondary">{{ item.description }}</p>
    {% endif %}
  </wa-card>
{% endif %}
