<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
    <div class="card">
        <div class="card-body fancy-2">
            {% if item.img-feat %}
                <img class="card-img-top rounded-circle line md" type="Direct message" src="{{ site.baseurl }}/assets/img/{{ item.img-path }}/{{ item.img-feat }}" alt="{{ item.img-alt }}">
            {% endif %}
            <h2 class="h3">
                <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.name }}</a>
            </h2>
            <p class="description">{{ item.description }}</p>
        </div>
    </div>
</div>