<div class="alert alert-info py-5 px-5 drop-shadow2">
  <h2 class="mb-0">
    <i class="fa-solid fa-burst drop-shadow3"></i>
    Get GovFresh
  </h2>
  <p class="small mt-2">We are an
    <a href="https://oco.govfresh.com" class="link-body-emphasis link-offset-3">open civic organization</a>. Here's how to
    <a href="{{ site.baseurl }}/collaborate" class="link-body-emphasis link-offset-3">collaborate with us</a>.</p>
  <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-arrows-spin drop-shadow3"></i>
    Collaborate</h3>
  <p>
    <a href="{{ site.baseurl }}/collaborate" class="btn btn-primary btn-sm border mt-3">
      Collaborate with GovFresh</a>
  </p>
  <h3 class="mt-4 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-circle-nodes drop-shadow3"></i>
    Community</h3>
  <p>
    <a href="{{ site.baseurl }}/community" class="btn btn-primary btn-sm border mt-3">
      Join the GovFresh community</a>
  </p>
  <div class="d-none d-sm-block">
    <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
      <i class="fa-solid fa-envelope-open-text drop-shadow3"></i>
      Subscribe
    </h3>
    <p class="small mt-2">Get the official GovFresh newsletter.</p>
    <p>
      <a href="{{ site.baseurl }}/subscribe" class="btn btn-primary btn-sm border mt-3">
        Subscribe</a>
    </p>
  </div>
  <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-star drop-shadow3"></i>
    Connect</h3>
  {% include social.html size="footer" %}
  <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-heart drop-shadow3"></i>
    Sponsor</h3>
  <p>
    <a href="{{ site.baseurl }}/sponsor" class="btn btn-primary btn-sm border mt-3">
      Sponsor GovFresh</a>
  </p>
</div>