<div class="alert alert-info pt-4 shadow2">
  <h2 class="mb-0 pb-1">Collaborate</h2>
  <p class="small text-body-secondary mt-2">GovFresh is an
    <a href="{{ site.baseurl }}/thoughts/open-civic-organizations">open civic organization</a>. We work in the open and encourage collaboration, because it's more fun and makes us better.</p>
  <p>
    <a href="{{ site.baseurl }}/collaborate" class="btn btn-primary dropshadow border mt-3">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
      Collaborate</a>
  </p>
</div>