<div class="alert alert-info py-5 px-5 shadow2">
  <h2 class="mb-0">
    <i class="fa-solid fa-burst drop-shadow4"></i>
    Get GovFresh
  </h2>
  <p class="small text-body-secondary mt-2">We are an
    <a href="https://oco.govfresh.com">open civic organization</a>. Here's how to collaborate with us.</p>
  <h3 class="mt-4 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-circle-nodes drop-shadow4"></i>
    Community</h3>
  <p>
    <a href="{{ site.baseurl }}/community" class="btn btn-primary dropshadow border mt-3">
      Join the GovFresh community</a>
  </p>
  <div class="d-none d-sm-block">
    <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
      <i class="fa-solid fa-envelope-open-text drop-shadow4"></i>
      Subscribe
    </h3>
    <p class="small text-body-secondary mt-2">Get the official GovFresh newsletter.</p>
    <iframe
      src="https://govfresh.substack.com/embed"
      width="480"
      height="150"
      style="border:none; background:none;"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
  <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-star drop-shadow4"></i>
    Connect</h3>
  {% include social.html size="footer" %}
  <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-rocket drop-shadow4"></i>
    Contribute</h3>
  <p>
    <a href="{{ site.baseurl }}/contribute" class="btn btn-primary dropshadow border mt-3">
      Write for GovFresh</a>
  </p>
  <h3 class="mt-5 mb-0 pt-5 pb-0 border-top h4">
    <i class="fa-solid fa-heart drop-shadow4"></i>
    Sponsor</h3>
  <p>
    <a href="{{ site.baseurl }}/sponsor" class="btn btn-primary dropshadow border mt-3">
      Sponsor GovFresh</a>
  </p>
</div>