<div class="alert alert-info mt-1 mb-4 drop-shadow2">
  <ul class="nav flex-column text-body-secondary mb-0">
    <li class="small mb-0 pb-0">
      <small>
        <a href="https://www.youtube.com/@GovFresh" class="nav-link link-offset-3">
          <i class="fa-brands fa-youtube"></i>
          Subscribe to GovFresh YouTube
        </a>
      </small>
    </li>
    <li class="small">
      <small>
        <a href="{{ site.baseurl }}/collaborate" class="nav-link link-offset-3">
          <i class="fa-solid fa-circle-plus"></i>
          Share your demo
        </a>
      </small>
    </li>
  </ul>
</div>