<div class="alert alert-info mt-1 drop-shadow2">
  <ul class="list-inline text-body-secondary mb-0">
    <li class="list-inline-item small">
      <small>
        <a href="https://www.youtube.com/@GovFresh" class="nav-link link-offset-3">
          <i class="fa-brands fa-youtube"></i>
          Subscribe to GovFresh YouTube</a>
      </small>
    </li>
    <li class="list-inline-item small">
      <small>
        <a href="{{ site.baseurl }}/collaborate" class="nav-link link-offset-3">
          <i class="fa-solid fa-circle-plus"></i>
          Share your demo</a>
      </small>
    </li>
  </ul>
</div>