{% include support.html %}
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5>{{ site.title }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        {% for item in site.data.nav-footer-1.docs %}
                        {% if item.url %}
                        <li>
                            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        {% for item in site.data.nav-footer-2.docs %}
                        {% if item.url %}
                        <li>
                            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        {% for page in site.topics %}
                        {% if page.title != 'Template' %}
                        <li>
                            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class=" col-sm-3">
                    <ul class="list-unstyled">
                        {% for item in site.data.nav-footer-3.docs %}
                        {% if item.url %}
                        <li>
                            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-connect">
                        <div>
                            {% include social.html size="footer" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <a href="https://govfresh.com">GovFresh</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
{% include js.html %}
</body>
</html>
