{% for post in site.posts limit: 1 %}
  <div class="wa-flank wa-gap-l mt-3">
    <div>
      {% if post.title %}
        <h3 class="mb-4">
          <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">{{ post.title }}</a>
        </h3>
      {% endif %}
      {% if post.description %}
        <p class="lead text-body-secondary">{{ post.description }}</p>
      {% endif %}
      {% include author.html %}
      {% include date.html %}
      {% include updated.html %}
    </div>
    <div>
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img class="mb-4 drop-shadow border" src="{{ site.baseurl }}/assets/img/posts/{{ post.img-og }}" alt="{{ post.title }}">
      </a>
    </div>
  </div>
{% endfor %}
