{% assign featured_posts = site.posts | concat: site.briefs | concat: site.papers | concat: site.demos | concat: site.dm | concat: site.podcast | concat: site.thoughts | concat: site.research %}
{% assign featured_posts = featured_posts | where: "feature", true | sort: "date" | reverse %}
{% for post in featured_posts limit: 1 %}
  <div class="wa-flank wa-gap-l border-bottom mt-1 pb-3">
    <div>
      {% if post.title %}
        <h2 class="mb-3 display-6">
          <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">{{ post.title }}</a>
        </h2>
      {% endif %}
      {% if post.description %}
        <p class="lead text-body-secondary mb-3">{{ post.description }}</p>
      {% endif %}
      {% include author.html %}
      {% include date.html %}
      {% include updated.html %}
    </div>
    <div>
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img class="mb-4 drop-shadow border" src="{{ site.baseurl }}/assets/img/posts/{{ post.img-og }}" alt="{{ post.title }}">
      </a>
    </div>
  </div>
{% endfor %}
