{% assign featured_posts = site.posts | concat: site.briefs | concat: site.papers | concat: site.demos | concat: site.dm | concat: site.podcast | concat: site.thoughts %}
{% assign featured_posts = featured_posts | where: "feature", true | sort: "date" | reverse %}
{% for post in featured_posts limit: 1 %}
  <div class="card-group border-bottom pb-3 d-sm-none">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {% if post.title %}
          <h2 class="mb-3 display-6">
            <a href="{{ site.baseurl }}{{ post.url }}" class="link-primary link-offset-3 link-underline-opacity-0">{{ post.title }}</a>
          </h2>
        {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img
            class="mb-4 drop-shadow border"
            src="{{ site.baseurl }}/assets/img/posts/{{ post.img-og }}"
            alt="{{ post.title }}">
        </a>
        {% if post.description %}
          <p class="lead text-body-secondary mb-4">
            {{ post.description }}
          </p>
        {% endif %}
        {% include author.html %}
        {% include date.html %}
        {% include updated.html %}
      </div>
    </div>
  </div>
  <div class="card-group border-bottom mt-1 pb-3 d-none d-sm-block">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {% if post.title %}
          <h2 class="mb-4 display-6">
            <a href="{{ site.baseurl }}{{ post.url }}" class="link-primary link-offset-3 link-underline-opacity-0">{{ post.title }}</a>
          </h2>
        {% endif %}
        {% if post.description %}
          <p class="lead text-body-secondary mb-5">
            {{ post.description }}
          </p>
        {% endif %}
        {% include author.html %}
        {% include date.html %}
        {% include updated.html %}
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img
            class="mb-4 drop-shadow border"
            src="{{ site.baseurl }}/assets/img/posts/{{ post.img-og }}"
            alt="{{ post.title }}">
        </a>
      </div>
    </div>
  </div>
{% endfor %}