<div id="main-content">
  {% if page.layout == "signal" %}
    <div class="container pt-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% if page.title %}
            <h1 class="display-5 mb-3">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="lead mb-4">{{ page.description }}</p>
          {% endif %}
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  {% elsif page.layout == "events" %}
    <div class="container pt-4 mb-3">
      <div class="row">
        <div class="col-12">
          {% if page.title %}
            <h1 class="display-6 mb-4">{{ page.title }}</h1>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div>
            {% if page.description %}
              <p class="lead mb-4">{{ page.description }}</p>
            {% endif %}
            {% if page.event-date %}
              <p class="small text-body-secondary mb-0">
                <small>
                  <i class="fa-regular fa-calendar"></i>
                  Date:
                  {{ page.event-date }}
                </small>
              </p>
            {% endif %}
            {% if page.event-location %}
              <p class="small text-body-secondary mb-0">
                <small>
                  <i class="fa-solid fa-location-pin"></i>
                  Location:
                  {{ page.event-location }}
                </small>
              </p>
            {% endif %}
            {% if page.org %}
              <p class="small text-body-secondary mb-0">
                <small>
                  <i class="fa-regular fa-building"></i>
                  Host:
                  <a href="{{ page.org-link }}" class="link-body-emphasis link-offset-3">
                    {{ page.org }}
                  </a>
                </small>
              </p>
            {% endif %}
            {% if page.hashtag %}
              <p class="small text-body-secondary mb-0">
                <small>
                  <i class="fa-solid fa-hashtag"></i>
                  Hashtag:
                  {{ page.hashtag }}
                </small>
              </p>
            {% endif %}
            {% if page.event-link %}
              <p>
                <a href="{{ page.event-link }}" class="btn btn-primary btn-bd-primary my-3">
                  Register
                </a>
              </p>
            {% endif %}
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
      </div>
    </div>
  {% elsif page.layout == "demos" %}
    <div class="container pt-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% include video.html %}
          {% if page.title %}
            <h1 class="h3">{{ page.title }}</h1>
          {% endif %}
          {% include date.html %}
          {% include updated.html %}
          {% include feedback.html %}
          {% include share.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  {% elsif page.layout == "news" %}
    <div class="container pt-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
          {% if page.title %}
            <h1 class="display-5 mb-3">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="lead mb-4">{{ page.description }}</p>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  {% elsif page.layout == "book" %}
    <div class="container pt-3 pb-4 mb-2">
      <div class="row">
        <div class="col-12">
          {% if page.title %}
            <h1 class="display-5 mb-3">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="lead mb-4">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <ul class="list-unstyled mb-4">
            {% if page.book-author %}
              <li>By {{ page.book-author }}</li>
            {% endif %}
            {% if page.number-of-pages %}
              <li>{{ page.number-of-pages }} pages</li>
            {% endif %}
            {% if page.book-language %}
              <li>{{ page.book-language }}</li>
            {% endif %}
            {% if page.book-format %}
              <li>{{ page.book-format }}</li>
            {% endif %}
            {% if page.published %}
              <li>{{ page.published }}</li>
            {% endif %}
            {% if page.genre %}
              <li>{{ page.genre }}</li>
            {% endif %}
            {% if page.isbn %}
              <li>ISBN: {{ page.isbn }}</li>
            {% endif %}
            {% if page.publisher %}
              <li>Publisher: {{ page.publisher }}</li>
            {% endif %}
          </ul>
          {% if page.website %}
            <a
              href="{{ page.website }}"
              title="Website"
              class="text-decoration-none d-block btn btn-primary btn-bd-primary btn-sm mb-3 text-start">
              <i class="fas fa-window-maximize"></i>
              Website</a>
          {% endif %}
          {% if page.library %}
            <a
              href="{{ page.library }}"
              title="Website"
              class="text-decoration-none d-block btn btn-primary btn-bd-primary btn-sm mb-3 text-start">
              <i class="fas fa-book-reader"></i>
              Library</a>
          {% endif %}
          {% if page.bookshop %}
            <a
              href="{{ page.bookshop }}"
              title="Bookshop.org"
              class="text-decoration-none d-block btn btn-primary btn-bd-primary btn-sm mb-3 text-start">
              <i class="fas fa-book"></i>
              Bookshop.org</a>
          {% endif %}
          {% if page.goodreads %}
            <a
              href="{{ page.goodreads }}"
              title="Goodreads"
              class="text-decoration-none d-block btn btn-primary btn-bd-primary btn-sm mb-3 text-start">
              <i class="fab fa-goodreads"></i>
              Goodreads</a>
          {% endif %}
          {% if page.amazon %}
            <a
              href="{{ page.amazon }}"
              title="Amazon"
              class="text-decoration-none d-block btn btn-primary btn-bd-primary btn-sm mb-3 text-start">
              <i class="fab fa-amazon"></i>
              Amazon</a>
          {% endif %}
          {% if page.bookshop %}
            <p>
              <a href="{{ page.bookshop }}" class="btn btn-primary btn-bd-primary btn-lg mt-4 mb-2">
                Buy
              </a>
            </p>
          {% elsif page.amazon %}
            <p>
              <a href="{{ page.amazon }}" class="btn btn-primary btn-bd-primary btn-lg mt-4 mb-2">
                Buy
              </a>
            </p>
          {% endif %}
          {% include disclosure.html %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  {% elsif page.layout == "thoughts" %}
    <div class="container border-bottom pt-3 pb-4 mb-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
          {% if page.title %}
            <h1 class="display-5 mb-4">{{ page.title }}</h1>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {% if page.description %}
            <p class="lead mb-5">{{ page.description }}</p>
          {% endif %}
          {% include author.html %}
          {% include date.html %}
          {% include updated.html %}
          {% include read-time.html %}
          {% include feedback.html %}
          {% include share.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  {% elsif page.layout == "briefs" %}
    <div class="">
      <div class="container border-bottom pt-3 pb-4 mb-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            {% include image.html %}
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            {% if page.title %}
              <h1 class="display-5 mb-3">{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
              <p class="lead mb-5">{{ page.description }}</p>
            {% endif %}
            {% include author.html %}
            {% include date.html %}
            {% include updated.html %}
            {% include read-time.html %}
            {% include feedback.html %}
            {% include share.html %}
            {% if page.feedback %}
              <div class="alert alert-info mt-4 pt-4">
                <span class="badge text-bg-success mb-3">In progress</span>
                <p>
                  This is a work in progress and open for public feedback.
                </p>
                {% if page.feedback-link %}
                  <p>
                    <a href="{{ page.feedback-link }}" class="btn btn-primary btn-bd-primary btn-sm">Add your feedback</a>
                  </p>
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        </div>
      </div>
    </div>
  {% elsif page.layout == "papers" %}
    <div class="container border-bottom pb-3 pt-3 mb-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% if page.title %}
            <h1 class="display-5 mb-3">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="lead mb-4">{{ page.description }}</p>
          {% endif %}
          {% include image.html %}
          {% include author.html %}
          {% include date.html %}
          {% include updated.html %}
          {% include read-time.html %}
          {% include feedback.html %}
          {% include share.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  {% elsif page.layout == "research" %}
    <div class="container border-bottom pt-3 pb-4 mb-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% if page.title %}
            <h1 class="display-6 mb-3">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="lead mb-5">{{ page.description }}</p>
          {% endif %}
          {% include author.html %}
          {% include date.html %}
          {% include updated.html %}
          {% include feedback.html %}
          {% include share.html %}
          {% if page.feedback %}
            <div class="alert alert-info mt-4 pt-4">
              <span class="badge text-bg-success mb-3">In progress</span>
              <p>
                This is a work in progress and open for public feedback.
              </p>
              {% if page.feedback-link %}
                <p>
                  <a href="{{ page.feedback-link }}" class="btn btn-primary btn-bd-primary btn-sm">Add your feedback</a>
                </p>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  {% elsif page.layout == "dm" %}
    <div class="pt-3 pb-4 mb-2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% if page.title %}
              <h1 class="display-5 mb-3">{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
              <p class="lead mb-4">{{ page.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% elsif page.layout == "podcast" %}
    <!-- Audio player -->
    <div class="container border-bottom pt-4 pb-4 mb-5">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="display-5 mb-3">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          {% if page.description %}
            <p class="lead mb-4">{{ page.description }} {% include tgwn.html %}</p>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
      </div>
      {% if page.number %}
        <div class="row">
          <div class="col-12">
            <p class="small text-body-secondary mb-0">
              <small>
                <i class="fa-solid fa-microphone-lines"></i>
                Season {{ page.season }} / Episode {{ page.number }}</small>
            </p>
            {% include date.html %}
            {% include updated.html %}
            {% include feedback.html %}
            {% include share.html %}
          </div>
        </div>
      {% endif %}
    </div>
  {% elsif page.layout == "labs" %}
    <div class="container pt-4 mb-5">
      <div class="row">
        <div class="col-12">
          {% if page.title %}
            <h1 class="display-6 mb-4">{{ page.title }}</h1>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          {% include image.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div>
            {% if page.description %}
              <p class="lead mb-4">{{ page.description }}</p>
            {% endif %}
            <div id="post">{{ content }}</div>
            <p>
              <a href="{{ page.website }}" class="btn btn-primary btn-bd-primary mb-3">
                Visit project
              </a>
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
      </div>
    </div>
  {% else %}
    <div class="container pt-4 pb-4">
      <div class="row">
        <div class="col-12">
          {% if page.title %}
            <h1 class="display-5 mb-4">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="lead mb-4">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>