<div class="container-fluid logo">
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{ site.baseurl }}/">
                govfresh
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
-->
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            {% for item in site.data.nav.docs %}
            {% if item.url %}
            <a class="nav-item nav-link {% if item.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="navbar-nav nav-icons ml-auto mt-auto">
            <a class="nav-item nav-link" href="{{ site.baseurl }}/subscribe/">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/govfresh">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="{{ site.baseurl }}/search/">
                <i class="fas fa-search"></i>
            </a>
            <div class="dark-toggle nav-item nav-link"></div>
        </div>
    </div>
</nav>
