<div id="nav">
  <div class="border-bottom gradient">
    <div class="container">
      <div class="row">
        <div class="col-6 pt-4 pb-4">
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.url }}{{ site.logo }}/assets/img/logo.svg" alt="GovFresh">
          </a>
        </div>
        <div class="col-6 pt-3 pb-3">
          <!--
          <a  class=""href="javascript:void(0);"      onclick="document.body.setAttribute('data-bs-theme', document.body.getAttribute('data-bs-theme') === 'light' ? 'dark' : 'light')">    <i class="fa-solid fa-sun float-end"></i></a>
        -->
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom gradient">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <button
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler ml-auto"
          data-target="#navbarNavAltMarkup"
          data-toggle="collapse"
          type="button"
          onclick="document.getElementById('navbarNavAltMarkup').classList.toggle('collapse')">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto"></div>
          <div class="navbar-nav">
            {% for item in site.data.nav.docs %}
              {% if item.url %}
                <a class="nav-item nav-link {% if item.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>