<nav class="navbar navbar-expand-lg" id="nav" aria-label="Primary navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/" aria-label="{{ site.title }}">
      {% if site.data.site.logo.file %}
        <span
          class="brand-mark logo-height-{{ site.data.site.logo.size | default: 'short' }}"
          aria-hidden="true"
          style="--brand-mark-src: url('{{ site.baseurl }}{{ site.data.site.logo.file }}'); aspect-ratio: {{ site.data.site.logo.width }} / {{ site.data.site.logo.height }};">
        </span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#siteNavCollapse"
      aria-controls="siteNavCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="siteNavCollapse">
      <ul class="navbar-nav ms-auto">
        {% for item in site.data.nav.docs %}
          {% if item.url %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ site.baseurl }}{{ item.url }}"
                {% unless item.url contains 'http' %}
                  {% if page.url contains item.url %}aria-current="page"{% endif %}
                {% endunless %}>
                {% if item.icon %}<i class="fa-solid {{ item.icon }}" aria-hidden="true"></i> {% endif %}{{ item.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if site.data.nav.icons %}
        <ul class="navbar-nav align-items-lg-center ms-lg-3 ps-lg-3 border-lg-start">
          {% for item in site.data.nav.icons %}
            {% assign preset = site.data.icon_presets[item.type] %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}" aria-label="{{ item.label | default: preset.label }}">
                <i class="{{ item.icon | default: preset.icon }}" aria-hidden="true"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
