<div id="newsletter" class="fixed-bottom bg-gradient bg-body pt-2 pb-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3 text-end">
        <button class="close-btn" onclick="closeNewsletter()">
          <i class="fa-regular fa-circle-xmark fa-xl"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 align-self-center">
        <i class="fa-solid fa-envelope-open-text fa-2xl mb-3"></i>
        <h2 class="h4">Get the newsletter</h2>
        <p>Sent straight to your inbox.</p>
        <div class="d-md-none">
          <a href="{{ site.baseurl }}/subscribe/" class="btn btn-primary btn-bd-primary px-5">Sign-up</a>
        </div>
      </div>
      <div class="col-2 col-sm-12 col-md-8 col-lg-8 align-middle align-self-center d-none d-md-block">
        <a href="{{ site.baseurl }}/subscribe/" class="btn btn-primary btn-bd-primary btn-lg px-5">Sign-up</a>
      </div>
    </div>
  </div>
</div>
<script>
  function closeNewsletter() {
    document.getElementById('newsletter').style.display = 'none';
    localStorage.setItem('newsletter', 'closed');
  }

  if (localStorage.getItem('newsletter') === 'closed') {
    closeNewsletter();
  }
</script>