<div class="preview-include">
    {% assign title = page.title %}
    {% for x in site.pages %}
    {% for loop in site.pages %}
    {% if include.show-only %}
    {% if loop.parent == page.parent and show != "true" %}
    <div class="preview">
        {% assign show = "true" %}
        <h2>{{ loop.title }}</h2>
        <p class="lead">{{ loop.description }}</p>
        {% if true %}
        {% include cards.html page=loop.parent page-title=title %}
        {% endif %}
        <a href="{{ site.baseurl }}/{{ page.parent }}" class="btn btn-primary">{{ loop.title }}</a>
    </div>
    {% endif %}
    {% else %}
    <div class="preview">
        <h2>{{ loop.title }}</h2>
        <p class="lead">{{ loop.description }}</p>
        {% assign page = loop %}
        {% include cards.html page-title=title %}
        <a href="{{ site.baseurl }}/{{ page.parent }}" class="btn btn-primary">{{ loop.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
<script>
    if (!document.querySelector('div.cards-include > div.card-deck').innerHTML.includes('<'))
        document.querySelector('.preview-include').style.display = "none"
</script>