<div class="preview-include">
  {% assign title = page.title %}
  {% for loop in site.pages %}
    {% if include.show-only %}
      {% assign size = site.[loop.parent] | size %}
      {% if loop.parent == page.parent and show != "true" and size > 1 %}
        <div class="border-top pt-5 pb-3">
          {% assign show = "true" %}
          {% include cards.html page=loop.parent page-title=title %}
          <wa-button href="{{ site.baseurl }}/{{ page.parent }}" variant="brand" size="s" class="mt-3">{{ loop.title }}</wa-button>
          {% if page.parent == "podcast" %}
            <wa-divider class="mt-4"></wa-divider>
            {% include subscribe-podcast.html %}
          {% endif %}
        </div>

        {% break %}
      {% endif %}
    {% else %}
      <div class="preview">
        <h2>{{ loop.title }}</h2>
        <p class="lead">{{ loop.description }}</p>
        {% assign page = loop %}
        {% include cards.html page-title=title %}
        <wa-button href="{{ site.baseurl }}/{{ page.parent }}" variant="brand" size="s">{{ loop.title }}</wa-button>
      </div>
    {% endif %}
  {% endfor %}
</div>