<div class="share wa-cluster wa-gap-l mb-1">
  <span class="small text-body-secondary">
    <i class="fa-solid fa-share" aria-hidden="true"></i>
    Share:
  </span>
  <a
    class="small"
    href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Share on LinkedIn">
    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
  </a>
  <a
    class="small"
    href="https://bsky.app/share?url={{ site.url }}{{ page.url }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Share on Bluesky">
    <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
  </a>
  <a
    class="small"
    href="https://mastodon.social/share?url={{ site.url }}{{ page.url }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Share on Mastodon">
    <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
  </a>
  <a
    class="small"
    href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Share on X">
    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
  </a>
  <a
    class="small"
    href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Share on Facebook">
    <i class="fa-brands fa-facebook" aria-hidden="true"></i>
  </a>
  <a
    class="small"
    href="mailto:?subject={{ page.title | url_encode }}&body={{ site.url }}{{ page.url }}"
    aria-label="Share via Email">
    <i class="fa-solid fa-envelope" aria-hidden="true"></i>
  </a>
  <a
    class="small"
    href="javascript:void(0)"
    onclick="copyLink()"
    aria-label="Copy link">
    <i class="fa-solid fa-link" aria-hidden="true"></i>
  </a>
</div>
