<div class="">
  <h2 class="h4 mt-0 pt-0">Share this
    <i class="fa-solid fa-heart"></i>
  </h2>
  <wa-button
    href="javascript:void(0);"
    onclick="navigator.clipboard.writeText('{{ site.url }}{{ page.url }}')"
    title="Copy link to clipboard"
    variant="brand" size="small" class="mb-2">
    <i class="fa-solid fa-copy"></i>
    Copy link to clipboard</wa-button>
  <wa-button
    href="mailto:?subject={{ page.title }}body=FYI on GovFresh: '{{ page.title }}': {{ site.url }}{{ page.url }}"
    rel="nofollow"
    target="_blank"
    title="Email"
    variant="brand" size="small" class="mb-2">
    <i class="fa-solid fa-envelope"></i>
    Email</wa-button>
  <wa-button
    href="https://mail.google.com/mail/?view=cm&to=%7Bemail_address%7D&su={{ page.title }}&body=FYI on GovFresh: '{{ page.title }}': {{ site.url }}{{ page.url }}&bcc=%7Bemail_address%7D&cc=%7Bemail_address%7D"
    target="_blank"
    rel="nofollow noopener"
    title="Share on Gmail"
    variant="brand" size="small" class="mb-2">
    <i class="fa-brands fa-google"></i>
    Gmail</wa-button>
  <wa-button
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
    rel="nofollow"
    target="_blank"
    title="Share on LinkedIn"
    variant="brand" size="small" class="mb-2">
    <i class="fa-brands fa-linkedin-in"></i>
    LinkedIn</wa-button>
  <wa-button
    href="https://twitter.com/intent/tweet?text={{ page.title }}&via={{ site.twitter-username }}&url={{ site.url }}{{ page.url }}"
    rel="nofollow"
    target="_blank"
    title="Share on X"
    variant="brand" size="small" class="mb-2">
    <i class="fa-brands fa-x-twitter"></i>
    X</wa-button>
  <wa-button
    href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
    rel="nofollow"
    target="_blank"
    title="Share on Facebook"
    variant="brand" size="small" class="mb-2">
    <i class="fa-brands fa-facebook-f"></i>
    Facebook</wa-button>
  <wa-button
    href="whatsapp://send?text="
    rel="nofollow"
    target="_blank"
    title="Share on WhatsApp"
    variant="brand" size="small" class="mb-2">
    <i class="fa-brands fa-whatsapp"></i>
    WhatsApp</wa-button>
</div>
