{% if include.size == "footer" %}
  <!-- Footer -->
  <ul class="list-inline mb-5 mt-3">
    {% for item in site.data.connect.docs %}
      {% if item.url %}
        <li class="list-inline-item">
          <a
            href="{{ item.url }}"
            aria-label="{{ item.name }}"
            class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
            <i class="{{ item.icon }} {{ site.data.connect.md }} mr-2 p-2"></i>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% elsif include.size == "small" %}
  <!-- Bio social -->
  <ul class="list-inline mb-5 mt-3">
    {% if author_data and page.parent != "books" %}
      {% assign data = author_data %}
    {% else %}
      {% assign data = page %}
    {% endif %}
    {% if data.website %}
      <li class="list-inline-item">
        <a
          href="{{ data.website }}"
          aria-label="Website"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.website }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.email %}
      <li class="list-inline-item">
        <a
          aria-label="Email"
          href="mailto:{{ data.email }}"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class=" {{ site.data.connect.email }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.calendar %}
      <li class="list-inline-item">
        <a
          aria-label="Calendar"
          href="{{ data.calendar }}"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class=" {{ site.data.connect.calendar }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.subscribe %}
      <li class="list-inline-item">
        <a
          href="{{ data.subscribe }}"
          aria-label="Subscribe"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.subscribe }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.mastodon %}
      <li class="list-inline-item">
        <a
          href="{{ data.mastodon }}"
          rel="me"
          aria-label="Mastodon"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.mastodon }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.bluesky %}
      <li class="list-inline-item">
        <a
          href="{{ data.bluesky }}"
          rel="me"
          aria-label="Bluesky"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.bluesky }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.patreon %}
      <li class="list-inline-item">
        <a
          href="{{ data.patreon }}"
          aria-label="Patreon"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.patreon }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.twitter %}
      <li class="list-inline-item">
        <a
          href="{{ data.twitter }}"
          aria-label="Twitter"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.twitter }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.linkedin %}
      <li class="list-inline-item">
        <a
          href="{{ data.linkedin }}"
          aria-label="LinkedIn"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.linkedin }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.facebook %}
      <li class="list-inline-item">
        <a
          href="{{ data.facebook }}"
          aria-label="Facebook"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.facebook }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.medium %}
      <li class="list-inline-item">
        <a
          href="{{ data.medium }}"
          aria-label="Medium"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.medium }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.youtube %}
      <li class="list-inline-item">
        <a
          href="{{ data.youtube }}"
          aria-label="YouTube"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.youtube }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.vimeo %}
      <li class="list-inline-item">
        <a
          href="{{ data.vimeo }}"
          aria-label="Vimeo"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.vimeo }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.instagram %}
      <li class="list-inline-item">
        <a
          href="{{ data.instagram }}"
          aria-label="Instagram"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.instagram }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.flickr %}
      <li class="list-inline-item">
        <a
          href="{{ data.flickr }}"
          aria-label="Flickr"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.flickr }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.figma %}
      <li class="list-inline-item">
        <a
          href="{{ data.figma }}"
          aria-label="Figma"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.figma }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.tumblr %}
      <li class="list-inline-item">
        <a
          href="{{ data.tumblr }}"
          aria-label="Tumblr"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.tumblr }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.library %}
      <li class="list-inline-item">
        <a
          href="{{ data.library }}"
          aria-label="Library"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.library }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.bookshop %}
      <li class="list-inline-item">
        <a
          href="{{ data.bookshop }}"
          aria-label="Bookshop"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.bookshop }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.goodreads %}
      <li class="list-inline-item">
        <a
          href="{{ data.goodreads }}"
          aria-label="GoodReads"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.goodreads}} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.amazon %}
      <li class="list-inline-item">
        <a
          href="{{ data.amazon }}"
          aria-label="Amazon"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.amazon }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.apple %}
      <li class="list-inline-item">
        <a
          href="{{ data.apple }}"
          aria-label="Apple"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.apple }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.spotify %}
      <li class="list-inline-item">
        <a
          href="{{ data.spotify }}"
          aria-label="Spotify"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.spotify }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.rss %}
      <li class="list-inline-item">
        <a
          href="{{ data.rss }}"
          aria-label="RSS"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.rss }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
    {% if data.github %}
      <li class="list-inline-item">
        <a
          href="{{ data.github }}"
          aria-label="GitHub"
          class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
          <i class="{{ site.data.connect.github }} {{ site.data.connect.sm }}"></i>
        </a>
      </li>
    {% endif %}
  </ul>
{% else %}
  <!-- Connect -->
  {% for item in site.data.connect.docs %}
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
      <div class="card p-5">
        <div class="card-body">
          <a href="{{ item.url }}" class="stretched-link">
            <p>
              <i class="{{ item.icon }} {{ site.data.connect.lg }}"></i>
            </p>
            <p class="text-body-secondary">{{ item.name }}</p>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}