{% if include.size == "footer" %}
  <div class="wa-cluster wa-gap-l mb-5 mt-3">
    {% for item in site.data.connect.docs %}
      {% if item.url %}

        <a
          href="{{ item.url }}"
          aria-label="{{ item.name }}"
          class="icon-link drop-shadow3">
          <i class="{{ item.icon }} {{ site.data.connect.md }} mr-2 p-2 drop-shadow3"></i>
        </a>

      {% endif %}
    {% endfor %}
  </div>
{% elsif include.size == "small" %}
  <!-- Bio social -->
  <div class="wa-cluster wa-gap-l mt-3">
    {% if author_data and page.parent != "books" %}
      {% assign data = author_data %}
    {% else %}
      {% assign data = page %}
    {% endif %}
    {% if data.website %}

      <a
        href="{{ data.website }}"
        aria-label="Website"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.website }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.email %}

      <a
        aria-label="Email"
        href="mailto:{{ data.email }}"
        class="icon-link drop-shadow3">
        <i class=" {{ site.data.connect.email }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.calendar %}

      <a
        aria-label="Calendar"
        href="{{ data.calendar }}"
        class="icon-link drop-shadow3">
        <i class=" {{ site.data.connect.calendar }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.subscribe %}

      <a
        href="{{ data.subscribe }}"
        aria-label="Subscribe"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.subscribe }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.linkedin %}

      <a
        href="{{ data.linkedin }}"
        aria-label="LinkedIn"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.linkedin }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.bluesky %}

      <a
        href="{{ data.bluesky }}"
        rel="me"
        aria-label="Bluesky"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.bluesky }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.mastodon %}

      <a
        href="{{ data.mastodon }}"
        rel="me"
        aria-label="Mastodon"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.mastodon }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.patreon %}

      <a
        href="{{ data.patreon }}"
        aria-label="Patreon"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.patreon }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.twitter %}

      <a
        href="{{ data.twitter }}"
        aria-label="Twitter"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.twitter }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.facebook %}

      <a
        href="{{ data.facebook }}"
        aria-label="Facebook"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.facebook }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.medium %}

      <a
        href="{{ data.medium }}"
        aria-label="Medium"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.medium }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.youtube %}

      <a
        href="{{ data.youtube }}"
        aria-label="YouTube"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.youtube }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.vimeo %}

      <a
        href="{{ data.vimeo }}"
        aria-label="Vimeo"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.vimeo }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.instagram %}

      <a
        href="{{ data.instagram }}"
        aria-label="Instagram"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.instagram }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.flickr %}

      <a
        href="{{ data.flickr }}"
        aria-label="Flickr"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.flickr }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.figma %}

      <a
        href="{{ data.figma }}"
        aria-label="Figma"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.figma }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.tumblr %}

      <a
        href="{{ data.tumblr }}"
        aria-label="Tumblr"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.tumblr }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.library %}

      <a
        href="{{ data.library }}"
        aria-label="Library"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.library }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.bookshop %}

      <a
        href="{{ data.bookshop }}"
        aria-label="Bookshop"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.bookshop }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.goodreads %}

      <a
        href="{{ data.goodreads }}"
        aria-label="GoodReads"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.goodreads}} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.amazon %}

      <a
        href="{{ data.amazon }}"
        aria-label="Amazon"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.amazon }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.apple %}

      <a
        href="{{ data.apple }}"
        aria-label="Apple"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.apple }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.spotify %}

      <a
        href="{{ data.spotify }}"
        aria-label="Spotify"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.spotify }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.rss %}

      <a
        href="{{ data.rss }}"
        aria-label="RSS"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.rss }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
    {% if data.github %}

      <a
        href="{{ data.github }}"
        aria-label="GitHub"
        class="icon-link drop-shadow3">
        <i class="{{ site.data.connect.github }} {{ site.data.connect.sm }}"></i>
      </a>

    {% endif %}
  </div>
{% else %}
  <!-- Connect -->
  {% for item in site.data.connect.docs %}
    <wa-card class="text-center">
      <a
        href="{{ item.url }}"
        aria-label="{{ item.name }}"
        class="body-link">
        <p class="mb-4">
          <i class="{{ item.icon }} {{ site.data.connect.lg }} drop-shadow3"></i>
        </p>
      </a>
      <p class="small">{{ item.name }}</p>
    </wa-card>
  {% endfor %}
{% endif %}