{% if page.title == 'Sponsors' %}
  <div class="container py-4">
    <div class="row">
      <div class="col-12">
        <div class="card-group mb-4">
          {% assign sorted_docs = site.data.sponsors.docs | sort: 'order' %}
          {% for item in sorted_docs %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
              <div class="card border drop-shadow2 mx-2 p-2">
                <div class="card-body">
                  <i class="fa-solid fa-heart fa-xl mb-2 text-shadow" aria-label="hidden"></i>
                  <h2 class="h4 mt-0 pt-0 mb-1">
                    <a
                      href="{{ item.url }}"
                      class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover"
                      target="_blank">{{ item.title }}</a>
                  </h2>
                  <p class="mb-0 pb-0 small">{{ item.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% unless page.title == 'Sponsors' %}
          <p>
            <a href="{{ site.baseurl }}/sponsor" class="btn btn-primary">Sponsor</a>
          </p>
        {% endunless %}
      </div>
    </div>
  </div>
{% else %}
  <div class="container border-top mt-5 py-4">
    <div class="row">
      <div class="col-12">
        <h2 class="h3 mb-3">Sponsors</h2>
        <p class="lead">
          Thank you to our sponsors.
        </p>
        <div class="card-group mt-4 mb-4">
          {% assign sorted_docs = site.data.sponsors.docs | sort: 'order' %}
          {% for item in sorted_docs %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
              <div class="card border drop-shadow2 mx-2 p-2">
                <div class="card-body">
                  <i class="fa-solid fa-heart fa-xl mb-2 text-shadow" aria-label="hidden"></i>
                  <h3 class="h4 mt-0 pt-0 mb-1">
                    <a
                      href="{{ item.url }}"
                      class="stretched-link link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover"
                      target="_blank">{{ item.title }}</a>
                  </h3>
                  <p class="mb-0 pb-0 small">{{ item.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% unless page.title == 'Sponsor' %}
          <p>
            <a href="{{ site.baseurl }}/sponsor" class="btn btn-primary">Sponsor</a>
          </p>
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}