<div class="container border-top mt-5 pt-5 pb-5">
  <h2>Subscribe</h2>
  <div class="wa-grid" style="--min-column-size: 200px">
    {% for subscribe-podcast in site.data.subscribe-podcast.docs %}
      <wa-card class="text-center">
        <img
          src="{{ site.baseurl }}/{{ subscribe-podcast.img }}"
          class="xxs mb-3"
          alt="{{ subscribe-podcast.title }}">
        <h3 class="h5">
          <a href="{{ subscribe-podcast.url }}" class="card-link">
            {{ subscribe-podcast.title }}
          </a>
        </h3>
      </wa-card>
    {% endfor %}
  </div>
</div>
