<div class="alert alert-primary subscribe subscribe-bottom">
    <h2 class="h4">Subscribe</h2>
    <p>
        <a href="{{ site.baseurl }}/subscribe/">Get the GovFresh newsletter</a> directly in your inbox.
    </p>
    <h2 class="h4">Community</h2>
    <p>
        <a href="{{ site.baseurl }}/community/">Request an invite</a> to the GovFresh community.
    </p>
    <h2 class="h4">Connect</h2>
    <p>
        <a href="{{ site.baseurl }}/connect/">Connect</a>
        with GovFresh on social media.
    </p>
</div>