<div class="alert alert-info p-3">
  <ul class="small text-body-secondary mb-0">
    <li>
      <strong>Subscribe:</strong>
      <a href="{{ site.baseurl }}/subscribe/">Get GovFresh Signal</a>
      (Frequency: occasionally)
    </li>
    <li>
      <strong>Tips:</strong>
      Send to
      <a href="mailto:signal@govfresh.com">signal@govfresh.com</a>
      (Subject: 'Signal tip')
    </li>
  </ul>
<!--
  <h2 class="h5 pb-0">Community</h2><ul class="small text-body-secondary mb-0">  <li>    Send invites request to:
    <a href="mailto:signal@govfresh.com">community@govfresh.com</a>
    (Subject: 'GovFresh community')
  </li>
</ul>
-->
</div>