<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="alert alert-primary pt-4">
        <h2 class="h4">Subscribe</h2>
        <p class="text-body-secondary">
          <a href="{{ site.baseurl }}/subscribe/">Get the {{ site.title }} newsletter</a>.
        </p>
        <h2 class="h4">Community</h2>
        <p class="text-body-secondary">
          <a href="{{ site.baseurl }}/community/">Request an invite</a>
          to the GovFresh community.
        </p>
        <h2 class="h4">Connect</h2>
        <p class="text-body-secondary">
          <a href="{{ site.baseurl }}/connect/">Connect</a>
          with {{ site.title }} on social media.
        </p>
      </div>
    </div>
  </div>
</div>