<div class="mt-4 pb-3">
  <h2>Subscribe</h2>
  <div class="wa-grid" style="--min-column-size: 160px">
    {% for item in site.data.subscribe-podcast.docs %}
      <wa-card class="text-center">
        <a href="{{ item.url }}" aria-label="{{ item.title }}" class="body-link">
          <p class="mb-4">
            <i class="{{ item.icon }} {{ site.data.connect.lg }} drop-shadow3"></i>
          </p>
        </a>
        <p class="small">{{ item.title }}</p>
      </wa-card>
    {% endfor %}
  </div>
</div>
