<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h5>Subscribe</h5>
      <p class="text-body-secondary small">Stay updated.</p>
      <p>
        <a href="{{ site.baseurl }}/subscribe" class="btn btn-primary btn-bd-primary btn-sm">Subscribe</a>
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h5>Suggest</h5>
      <p class="text-body-secondary small">Help make {{ site.title }} better.</p>
      <p>
        <a href="{{ site.baseurl }}/suggest" class="btn btn-primary btn-bd-primary btn-sm">Suggest</a>
      </p>
    </div>
  </div>
</div>