<div class="alert alert-light">
    <div class="container">
        <div class="row">
            <div class=" col-sm-4">
                <h4 class="h7">Support</h4>
                <p>Thank you for supporting our work.</p>
                <p><a href="{{ site.baseurl }}/support" class="btn btn-primary btn-sm">Support</a>
                </p>
            </div>
            <div class=" col-sm-4">
                <h4 class="h7">Subscribe</h4>
                <p>Stay updated.</p>
                <p><a href="{{ site.baseurl }}/subscribe" class="btn btn-primary btn-sm">Subscribe</a>
                </p>
            </div>
            <div class=" col-sm-4">
                <h4 class="h7">Suggest</h4>
                <p>Help us make GovFresh better.</p>
                <p><a href="{{ site.baseurl }}/suggest" class="btn btn-primary btn-sm">Suggest</a>
                </p>
            </div>
        </div>
    </div>
</div>