{% if page.categories %}
<h2 class="h3">Topics</h2>
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
<div class="categories">
    <ul class="nav nav-pills">
        {% for category in categories %}
        <li class="nav-item">
            <a href="{{ site.baseurl }}/topics/{{ category|slugify }}" class="nav-link btn-sm">{{ category }}</a>
        </li>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
    </ul>
</div>
<p><a href="{{ site.baseurl }}/topics/">All topics</a></p>
{% endif %}