{% if page.categories %}
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  <div class="mb-5 pt-3 mb-4">
    <h2 class="h4">Topics</h2>
    <ul class="list-inline">
      {% for category in categories %}
        <li class="list-inline-item small mr-1 mb-2">
          <a href="{{ site.baseurl }}/topics/{{ category|slugify }}" class="btn btn-primary btn-bd-primary btn-sm">{{ category }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}