{% if page.video %}
  {% if page.layout == "events" or page.layout == "orgs" %}
    <h2>Watch</h2>
  {% endif %}
  {% if page.video-description %}
    <p>{{ page.video-description }}</p>
  {% endif %}
  <div class="video-responsive mb-4 border">
    <iframe
      src="https://www.youtube.com/embed/{{ page.video }}?rel=0&modestbranding=1"
      title="{{ page.video-title | default: page.title }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
{% endif %}
