{% include header.html %}
{% include nav.html %}
{% assign breadcrumb_href = site.baseurl | append: '/' | append: page.parent | append: '/' %}
{% include breadcrumb.html href=breadcrumb_href label=page.folder %}
<main id="main-content">
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    {% capture body %}
      {% if layout.include_download %}
        {% include download.html %}
      {% endif %}
      {% if layout.include_audio %}
        {% include audio.html %}
      {% endif %}
      <div class="{{ layout.post_class | default: 'post' }}">
        <div>
          {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" anchorClass="heading-hashtag" %}
        </div>
      </div>
      {% include contributors.html %}
      {% if layout.include_share %}
        {% include share.html %}
      {% endif %}
      {% if layout.include_bio %}
        {% include bio.html %}
      {% endif %}
      {% include topics.html %}
    {% endcapture %}
    {% include toc-layout.html html=body toc_html=content %}
  </article>
</main>
<aside>
  <div class="container">
    {% include previews.html show-only="true" %}
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}
