---
layout: ask
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="post-ask">
                    {{ content }}
                </div>
                {% include updated.html %}
                {% include subscribe.html %}
                {% include topics.html %}
                {% include license.html %}
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include previews.html show-only="true" %}
            </div>
        </div>
    </div>
</main>
{% include analytics.html %}
{% include footer.html %}