---
layout: book
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main id="main-content">
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="content-narrow">
        {% if page.author %}
          <h2 class="mb-3">Review</h2>
        {% endif %}
        <div class="mb-4">
          {% if page.author %}
            {% include author.html %}
            {% include date.html %}
          {% endif %}
        </div>
        {% if page.quote %}
          <blockquote>
            <p>"{{ page.quote }}"</p>
          </blockquote>
          <p class="small text-body-secondary mb-5 text-end">&mdash; {{ page.book-author }}</p>
        {% endif %}
        <div class="post">
          {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
        </div>
        {% include topics.html %}
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    {% include previews.html show-only="true" %}
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}