---
layout: book
---

{% include header.html %}
{% include nav.html %}
{% assign breadcrumb_href = site.baseurl | append: '/' | append: page.parent | append: '/' %}
{% include breadcrumb.html href=breadcrumb_href label=page.folder %}
<main id="main-content">
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    {% capture body %}
      {% if page.author %}
        <h2 class="mb-3">Review</h2>
      {% endif %}
      <div class="mb-4">
        {% if page.author %}
          {% include author.html %}
          {% include date.html %}
        {% endif %}
      </div>
      {% if page.quote %}
        <blockquote>
          <p>"{{ page.quote }}"</p>
        </blockquote>
        <p class="quote-attribution mb-5 text-end">&mdash; {{ page.book-author }}</p>
      {% endif %}
      <div class="post">
        {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" anchorClass="heading-hashtag" %}
      </div>
      {% include topics.html %}
    {% endcapture %}
    {% include toc-layout.html html=body toc_html=content %}
  </article>
</main>
<aside>
  <div class="container">
    {% include previews.html show-only="true" %}
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}