---
layout: book
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          {% if page.author %}
            <h2 class="mb-3">Review</h2>
          {% endif %}
            <div class="mb-4">
              {% if page.author %}
                {% include author.html %}
                {% include date.html %}
                {% include feedback.html %}
                {% include share.html %}
                </div>
          {% endif %}
          {% if page.quote %}
            <blockquote>
              <p>"{{ page.quote }}"</p>
            </blockquote>
            <p class="small text-body-secondary mb-5 text-end">&mdash; {{ page.book-author }}</p>
          {% endif %}
          <div class="post">
            {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
          </div>
          {% include topics.html %}
          {% if page.author %}
            </div>
          {% endif %}
          <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include previews.html show-only="true" %}
      </div>
    </div>
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}