---
layout: compress
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% include author.html %}
          {% include updated.html %}
          {% include subscribe.html %}
          <div id="post">
            <articlebody>
              {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
            </articlebody>
          </div>
          {% include contributors.html %}
          {% include feedback.html %}
          {% include share.html %}
          {% include topics.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  </article>
</main>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% include previews.html show-only="true" %}
    </div>
  </div>
</div>
{% include analytics.html %}
{% include footer.html %}