---
layout: demos
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  <article>
    <div class="container pt-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <div class="pt-1 pb-3 mb-3 border-bottom">
            {% include jumbotron.html %}
          </div>
          <div class="pb-3 post">
            <articlebody>
              {{ content }}
            </articlebody>
          </div>
          {% include topics.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          {% include demos.html %}
        </div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include previews.html show-only="true" %}
      </div>
    </div>
  </div>
</aside>
{% include footer.html %}