---
layout: demos
---

{% include header.html %}
{% include nav.html %}
{% assign breadcrumb_href = site.baseurl | append: '/' | append: page.parent | append: '/' %}
{% include breadcrumb.html href=breadcrumb_href label=page.folder %}
<main id="main-content">
  <article>
    <div class="container pt-3">
      <div class="pt-1 pb-3 mb-3 border-bottom">
        {% include jumbotron.html %}
      </div>
      <div class="post">
        <div>
          {{ content }}
        </div>
      </div>
      {% include demos.html %}
      {% include topics.html %}
      {% if site.demos.size > 2 %}
        <aside class="section-divider">
          <h2 class="h4 pb-3 my-0">More demos</h2>
          <div class="row row-cols-1 row-cols-md-3 card-group">
            {% assign demos_limit = site.demos-number | plus: 0 %}
            {% assign demos_count = 1 %}
            {% for item in site.demos reversed %}
              {% if item.title != page.title and demos_count < demos_limit %}
                <div class="col">{% include card.html type="demos" %}</div>
                {% assign demos_count = demos_count | plus: 1 %}
              {% endif %}
            {% endfor %}
          </div>
          <a href="{{ site.baseurl }}/demos" class="btn btn-sm">Demos</a>
        </aside>
      {% endif %}
    </div>
  </article>
</main>
{% include analytics.html %}
{% include footer.html %}
