---
layout: dm
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          {% assign i = 0 %}
          {% for item in page.name %}
            {% include image.html %}
            <ul class="list-unstyled text-body-secondary small">
              <li>
                {% if page.group %}
                  {{ page.name[i] }}
                {% else %}
                  {{ page.name }}
                {% endif %}
              </li>
              <li>
                {% if page.group %}
                  {{ page.position[i] }},
                {% else %}
                  {{ page.position }},
                {% endif %}
                {% if page.group %}
                  {{ page.org[i] }}
                {% else %}
                  {{ page.org }}
                {% endif %}
              </li>
            </ul>
            {% assign author_data = page.contact[i] %}
            {% include social.html size = "small" %}
            {% assign i = i | plus: 1 %}
          {% endfor %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% if content contains 'id="new"' %}
            <div class="alert alert-primary" role="alert">
              <div class="new-dm">
                <a href="#new" class="text-body small">
                  Jump to new messages
                  <i class="fa-regular fa-circle-down"></i>
                </a>
              </div>
            </div>
          {% endif %}
          <div class="post post-dm">
            <articlebody>{{ content }}</articlebody>
          </div>
          {% include connect-with.html %}
          {% include feedback.html %}
          {% include topics.html %}
        </div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include previews.html show-only="true" %}
      </div>
    </div>
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}