---
layout: home
---

{% include header.html %}
{% include nav.html %}
<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 style="display: none;">{{ site.title }} - {{ site.description }}
        </h1>
          <!-- Featured item -->
          {% comment %} Build featured posts array safely {% endcomment %}
          {% assign featured_posts = "" | split: "" %}

          {% comment %} Add posts with feature flag {% endcomment %}
          {% if site.posts %}
            {% for post in site.posts %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if site.briefs %}
            {% for post in site.briefs %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if site.papers %}
            {% for post in site.papers %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if site.demos %}
            {% for post in site.demos %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if site.dm %}
            {% for post in site.dm %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if site.thoughts %}
            {% for post in site.thoughts %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if site.research %}
            {% for post in site.research %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% comment %} Add podcast docs {% endcomment %}
          {% if site.data.podcast and site.data.podcast.docs %}
            {% for post in site.data.podcast.docs %}
              {% if post.feature == true %}
                {% assign featured_posts = featured_posts | push: post %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% comment %} Sort safely - only sort if we have items with dates {% endcomment %}
          {% if featured_posts.size > 0 %}
            {% assign featured_posts = featured_posts | sort: "date" | reverse %}
          {% endif %}

          {% for post in featured_posts limit: 1 %}
            <div class="card-group border-bottom pb-3 d-sm-none">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  {% if post.title %}
                    <h2 class="mb-3 display-6">
                      <a href="{{ site.baseurl }}{{ post.url }}" class="link-primary link-offset-3 link-underline-opacity-0">{{ post.title }}</a>
                    </h2>
                  {% endif %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <img
                      class="mb-4 drop-shadow border"
                      src="{% if post.img_src == "remote" %}{{ post.img-og }}{% else %}{{ site.baseurl }}/assets/img/posts/{{ post.img-og }}{% endif %}"
                      alt="{{ post.title }}">
                  </a>
                  {% if post.description %}
                    <p class="lead text-body-secondary mb-4">
                      {{ post.description }}
                    </p>
                  {% endif %}
                  {% include podcast.html %}
                  {% include author.html %}
                  {% include date.html %}
                  {% include updated.html %}
                </div>
              </div>
            </div>
            <div class="card-group border-bottom mt-1 pb-3 d-none d-sm-block">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <img
                      class="mb-4 drop-shadow border"
                      src="{% if post.img_src == "remote" %}{{ post.img-og }}{% else %}{{ site.baseurl }}/assets/img/posts/{{ post.img-og }}{% endif %}"
                      alt="{{ post.title }}">
                  </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  {% if post.title %}
                    <h2 class="mt-2 mb-2 display-6">
                      <a href="{{ site.baseurl }}{{ post.url }}" class="link-primary link-offset-3 link-underline-opacity-0">{{ post.title }}</a>
                    </h2>
                  {% endif %}
                  {% if post.description %}
                    <p class="lead text-body-secondary mb-5">
                      {{ post.description }}
                    </p>
                  {% endif %}
                  {% include podcast.html %}
                  {% include author.html %}
                  {% include date.html %}
                  {% include updated.html %}
                </div>
              </div>
            </div>
          {% endfor %}
          {% include home.html %}
        </div>
      </div>
    </div>
  </section>
</main>
{% include analytics.html %}
{% include footer.html %}