---
layout: ideas
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                {% if page.img %}
                    <div class="img">
                        <div class="fancy-feat">
                            {{ page.img }}
                        </div>
                        {% if page.img-caption %}
                            <p class="img-caption">
                                {% if page.img-link %}
                                    <a href="{{ site.baseurl }}{{ page.img-link }}">
                                    {% endif %}
                                    {{ page.img-caption }}
                                    {% if page.img-link %}
                                    </a>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="post">
                    {{ content }}
                    {% if page.done %}
                        <h2>Status</h2>
                        <div class="alert alert-success" role="alert">
                            <p>
                                <i class="fa-solid fa-circle-check"></i>
                                Done
                                {% if page.status-link %}
                                    (<a href="{{ page.status-link }}">reference</a>)
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                    {% if page.warning %}
                        <h2>Status</h2>
                        <div class="alert alert-warning" role="alert">
                            <p>
                                <i class="fa-solid fa-flag"></i>
                                Shared
                                {% if page.status-link %}
                                    (<a href="{{ page.status-link }}">reference</a>)
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                </div>
                {% include updated.html %}
                {% include subscribe.html %}
                {% include license.html %}
                {% include topics.html %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include previews.html show-only="true" %}
            </div>
        </div>
    </div>
</main>
{% include analytics.html %}
{% include footer.html %}