---
layout: people
---

{% include header.html %}
{% include nav.html %}
{% assign breadcrumb_href = site.baseurl | append: '/' | append: page.parent | append: '/' %}
{% include breadcrumb.html href=breadcrumb_href label=page.folder %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="container">
    <div class="row g-0 gap-4 align-items-start">
      <div class="col-12 col-md-auto d-flex flex-column align-items-start people-sidebar people-layout-sidebar">
        {% include image.html %}
        <ul class="list-unstyled card-byline">
          {% if page.position %}
            <li>{{ page.position }}</li>
          {% endif %}
          {% if page.org %}
            <li>{{ page.org }}</li>
          {% endif %}
        </ul>
        {% include social.html size = "small" %}
        {% include role.html %}
      </div>
      <div class="col-12 col-md">
        <div class="post">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</main>
{% include analytics.html %}
{% include footer.html %}
