---
layout: podcast
---

{% include header.html %}
{% include nav.html %}
{% assign breadcrumb_href = site.baseurl | append: '/' | append: page.parent | append: '/' %}
{% include breadcrumb.html href=breadcrumb_href label=page.folder %}
<main id="main-content">
  <article>
    {% include jumbotron.html %}
    <div class="container">
      <div class="row g-0 gap-4 align-items-start">
        <div class="col-12 col-md-auto">
          {% include image.html loading="eager" %}
        </div>
        <div class="col-12 col-md">
          <div class="pb-4 mb-4 border-bottom">
            {% include audio.html %}
            {% if page.number %}
              {% assign episode_value = "Episode " | append: page.number %}
              <div class="mb-3">
                {% include icon-line.html icon="fa-solid fa-microphone-lines" value=episode_value %}
                {% include date.html %}
                {% include host.html %}
                {% include duration.html %}
              </div>
            {% endif %}
          </div>
          <div class="post">
            <div>
              <h2>In this episode</h2>
              {{ content }}
            </div>
          </div>
          {% include connect-with.html %}
          {% include contributors.html %}
          {% include topics.html %}
        </div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    {% include previews.html show-only="true" %}
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}
