---
layout: podcast
---
{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row border-top pt-5">
      <div class="col-12 col-md-3 col-lg-3 col-xl-3">
        <figure class="image">
          <img
            src="{{ site.baseurl }}/assets/img/people/{{ page.feat-img }}"
            alt="{{ page.feat-img-alt }}"
            class="rounded-circle md">
          <figcaption>
            <p class="small text-body-secondary">{{ page.feat-img-alt }}</p>
          </figcaption>
        </figure>
      </div>
      <div class="post col-12 col-md-7 col-lg-7 col-xl-7">
        <h2>In this episode</h2>
        {{ content }}
        {% if page.short-name %}
          <h2>Connect with {{ page.short-name }}</h2>
        {% endif %}
        <ul class="list-inline mb-5 mt-3">
          {% if page.website %}
            <li class="list-inline-item">
              <a
              href="{{ page.website }}"
              aria-label="Website"
              class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
              <i class="{{ site.data.connect.website }} {{ site.data.connect.sm }}"></i>
            </a>
            </li>
          {% endif %}
          {% if page.email %}
            <li class="list-inline-item">
              <a
              aria-label="Email"
              href="mailto:{{ page.email }}"
              class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
              <i class=" {{ site.data.connect.email }} {{ site.data.connect.sm }}"></i>
            </a>
          {% endif %}
          </li>
          {% if page.twitter %}
            <li class="list-inline-item">
              <a
              href="{{ page.twitter }}"
              aria-label="Twitter"
              class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
              <i class="{{ site.data.connect.twitter }} {{ site.data.connect.sm }}"></i>
            </a>
            </li>
          {% endif %}
          {% if page.linkedin %}
            <li class="list-inline-item">
              <a
              href="{{ page.linkedin }}"
              aria-label="LinkedIn"
              class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover">
              <i class="{{ site.data.connect.linkedin }} {{ site.data.connect.sm }}"></i>
            </a>
            </li>
          {% endif %}
        </ul>
        <div class="border-top mt-5 pt-3">
          {% include share.html %}
          </div>
          <div class="pt-5">
          {% include topics.html %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
  {% include subscribe-podcast.html %}
  <aside>
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include previews.html show-only="true" %}
        </div>
      </div>
    </div>
  </aside>
</main>
{% include footer.html %}