---
layout: profile
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  {% include jumbotron.html %}
  {% assign thoughts = site.thoughts | where: "author", page.title %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <div class="post">
          {{ content }}
        </div>
        <div>
          {% if page.parent == "podcasts" %}
            <div class="listen">
              <h2>Listen</h2>
              {% include social.html size="podcast" %}
            </div>
          {% endif %}
          {% if page.parent == "labs" %}
            <p>
              <a href="{{ page.website }}" class="btn btn-primary btn-bd-primary btn-lg mt-3 mb-4">
                Visit project
              </a>
            </p>
          {% endif %}
          {% if page.parent == "orgs" or page.parent == "signal" or page.parent == "gamechangers" or page.parent == "events" or page.parent == "team" or page.parent == "podcasts" or page.parent == "innovations" or page.parent == "labs" %}
            <h2>Connect with {{ page.shortname }}</h2>
            {% include social.html size="small" %}
          {% endif %}
          {% if page.parent == "books" %}
            <h2 class="mt-4 pb-3">Book links</h2>
            {% include social.html size="small" %}
          {% endif %}
          {% if page.parent == "books" %}
            {% include disclosure.html %}
            {% include topics.html %}
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        {% include image.html %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include previews.html show-only="true" %}
      </div>
    </div>
  </div>
  {% if page.team %}
    <div class="container">
      {% if thoughts.size > 0 %}
        <div class="row">
          <div class="col-12">
            <h2>Thoughts</h2>
            <div class="card-group clean">
              {% for item in thoughts %}
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
                  <div class="card">
                    <div class="card-body">
                      <img
                        alt="{{ item.img-alt }}"
                        class="xl"
                        src="{{ site.baseurl }}/assets/img/posts/{{ item.img-feat }}">
                      <h3>
                        <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title
}}</a>
                      </h3>
                      {% if item.description %}
                        <p>{{ item.description }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      {% assign posts = site.posts | where: "author", page.title %}
      {% if posts.size > 0 %}
        <div class="row">
          <div class="col-12">
            <h2>Signal</h2>
            <div class="card-group">
              {% for item in posts %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                  <div class="card">
                    <div class="card-body">
                      <i class="fa-solid fa-satellite-dish {{ site.data.connect.md }}"></i>
                      <h3 class="h4">
                        <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title
}}</a>
                      </h3>
                      <p>
                        <small>{{ item.date | date: "%B %-d, %Y" }}</small>
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</main>
{% include analytics.html %}
{% include footer.html %}