---
layout: quick-thoughts
---

{% include header.html %}
{% include nav.html %}
{% assign breadcrumb_href = site.baseurl | append: '/' | append: page.parent | append: '/' %}
{% include breadcrumb.html href=breadcrumb_href label=page.folder %}
<main id="main-content">
  <article>
    {% include read-time-bar.html %}
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          {% if page.title %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          {% include author.html %}
          {% include date.html %}
          <div class="post post-dm-quick-thoughts">
            <div>
              {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
            </div>
          </div>
          {% include bio.html %}
          {% include topics.html %}
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    {% include previews.html show-only="true" %}
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}
