---
layout: research
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          {% include toc.html html=content %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {% include audio.html %}
          <div class="alert alert-info mt-4">
            <p class="small text-body-secondary mb-0">
              <small>
                <i class="fa-solid fa-robot"></i>
                Content created with artificial general intelligence. This is a work in progress. Have feedback?
                <a href="https://github.com/govfresh/govfresh.github.io/issues/new/choose">Submit an issue</a>
                or
                <a href="{{ site.baseurl }}/contact/">contact us</a>.</small>
            </p>
          </div>
          <div class="post">
            <articlebody>
              {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-hashtag'></i>" %}
            </articlebody>
          </div>
          {% include contributors.html %}
          {% include topics.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"></div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include previews.html show-only="true" %}
      </div>
    </div>
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}