---
layout: review
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row post">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                {{ content }}
                <p>
                    <strong>
                        Book:
                        <a href="{{ site.baseurl }}/books{{ page.book-link }}"> {{ page.book-title }}</a>
                    </strong>
                </p>
                {% include updated.html %}
                {% include subscribe.html %}
                {% include license.html %}
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 book">
                <a href="{{ site.baseurl }}/{{ page.img-path }}{{ page.book-link }}">
                    <img src="{{ site.baseurl }}/assets/img/{{ page.img-path }}/{{ page.img }}" alt="{{ page.book-title }}" class="md shadow">
                </a>
                <h5>{{ page.book-title }}</h5>
                <p>By {{ page.book-author }}</p>
                <p>&nbsp;</p>
                {% include topics.html %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include previews.html show-only="true" %}
            </div>
        </div>
    </div>
</main>
{% include analytics.html %}
{% include footer.html %}
