---
layout: site-map
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Topics</h2>
        <ul>
          {% for page in site.topics %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Briefs</h2>
        <ul>
          {% for post in site.briefs %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Papers</h2>
        <ul>
          {% for post in site.papers %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Thoughts</h2>
        <ul>
          {% for post in site.thoughts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>DM</h2>
        <ul>
          {% for post in site.dm %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Demos</h2>
        <ul>
          {% for post in site.demos %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Podcast</h2>
        <ul>
          {% for post in site.podcast %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Research</h2>
        <ul>
          {% for post in site.research %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Books</h2>
        <ul>
          {% for post in site.books %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Labs</h2>
        <ul>
          {% for post in site.labs %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Organizations</h2>
        <ul>
          {% for post in site.orgs %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Events</h2>
        <ul>
          {% for post in site.events %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Pages</h2>
        <ul>
          {% for post in site.pages %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>Posts</h2>
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
{% include analytics.html %}
{% include footer.html %}