---
layout: thoughts
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main id="main-content">
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="thoughts-layout">
        <div>
          <div class="post mb-5">
            <div>
              {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
            </div>
          </div>
          {% include contributors.html %}
          {% include bio.html %}
          {% include topics.html %}
        </div>
        <div class="thoughts-toc">
          {% include toc.html html=content %}
        </div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    {% include previews.html show-only="true" %}
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}
