---
layout: thoughts
---

{% include header.html %}
{% include nav.html %}
{% include breadcrumb.html %}
<main>
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          {% include toc.html html=content %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <div class="post" class="mb-5">
            <articlebody>
              {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" %}
            </articlebody>
          </div>
          {% include contributors.html %}
          {% include bio.html %}
          {% include topics.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  </article>
</main>
<aside>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include previews.html show-only="true" %}
      </div>
    </div>
  </div>
</aside>
{% include analytics.html %}
{% include footer.html %}